<div class="panel">
	<div class="column">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-10">
				<div class="col-md-2">
				<div class="text-center bs-wizard-stepnum">
                    <p>Đóng gói xong - Sẵn sàng giao hàng</p>
                    <span>2015-11-09 17:55:02</span>
                </div>
				<div class="progress">
					<div class="progress-bar  bg-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" 
					aria-valuemax="100" style="width: 100% "></div>
					<span>O</span>
				</div>		
			</div>		

			</div>
		</div>
		<div>
			<div class="col-md-12" parsley-validate parsley-bind> 
			<div class= "col-md-4">asdsdf</div>
			<div class= "col-md-4">asdfsadf</div>
			<div class= "col-md-4">asdfsdf</div>
            </div>
			<div>asdfsadf</div>
		</div>
	</div>
</div>



			