<ion-view view-title="Order Detail">
  <ion-content padding="true" class="has-header">
    <div id="map_canvas">
      <map shipper-markers="shippers" store-markers="stores" customer-markers="customers" orders="orders"></map>
    </div>
    <div class="checkout-wrap">
      <ul class="checkout-bar">
        <!--<li class="visited first"></li>-->
        <a ng-repeat="status in statuslist" href="#" ng-click="openPopover($event)">
          <li
            ng-class="{visited: status.statusid < order.statusid, active: status.statusid==order.statusid, next: status.statusid > order.statusid}"></li>
        </a>
      </ul>
    </div>
    <div>
      <p>{{errorlogs}}</p>
    </div>
    <div class="list card">
      <div class="item item-divider">Detail Information</div>
      <div class="item item-body">
        <div class="item item-input">
          <span class="input-label">Order code:</span>

          <p class="">{{order.code}}</p>
        </div>
        <label class="item item-input">
          <span class="input-label">Status:</span>

          <p class="">{{order.status}}</p>
        </label>
        <label class="item item-input">
          <span class="input-label">Recipient:</span>

          <p class="">{{order.recipientname}}<br/>{{order.recipientphone}}</p>
        </label>
        <label class="item item-input">
          <span class="input-label">Pick-up Address</span>

          <p class="">{{order.pickupaddress}}</p>
        </label>
        <label class="item item-input">
          <span class="input-label">Pick-up date:</span>

          <p class="">{{order.pickupdate | date : 'dd-MM-yyyy'}}</p>
        </label>
        <label class="item item-input">
          <span class="input-label">Delivery Address:</span>

          <p class="">{{order.deliveryaddress}}</p>
        </label>
        <label class="item item-input">
          <span class="input-label">Delivery Date:</span>

          <p class="">{{order.deliverydate | date : 'dd-MM-yyyy'}}</p>
        </label>
        <label class="item item-input">
          <span class="input-label">COD:</span>

          <p class="">{{order.cod | number}} VND</p>
        </label>
        <label class="item item-input">
          <span class="input-label">Fee:</span>

          <p class="">{{order.fee | number}} VND</p>
        </label>
        <label class="item item-input">
          <span class="input-label">Goods Information:</span>

          <p class="">
            Weight: {{order.weight}} (g)<br/>
            Size: {{order.lengthsize}} x {{order.widthsize}} x {{order.heightsize}} (cm)
          </p>
        </label>
      </div>
    </div>
    <button ng-repeat="status in statuslist"
            ng-if="status.statusid == order.statusid && status.nextAction" class="button button-full button-positive"
            ng-click="showConfirm(order.statusid, status.nextAction)">{{status.nextAction}}
    </button>
    <!--</ion-content>-->
    <script id="status-popover.html" type="text/ng-template">
      <ion-popover-view>
        <ion-content>
          {{currentStatus}}
        </ion-content>
      </ion-popover-view>
    </script>
    </div>
  </ion-content>
  <div class="fixed-button">
    <a type="button" href="#/app/bestway/pickup" class="btn-cus btn-primary-cus btn-circle-cus btn-xl-cus"><i class="ion-ios-paperplane" style="font-size: 26px"></i></a>
  </div>
</ion-view>
