<ion-view view-title="Order Detail">
  <ion-content padding="true" class="has-header">
    <div id="map" lat="21.012529248181444" lng="105.52563034439083" zoom="8" map></div>
    <a><i class="ion-android-locate" style=""></i></a>
    <ol class="progtrckr" data-progtrckr-steps="5">
      <li class="progtrckr-done"></li>
      <li class="progtrckr-done"></li>
      <li class="progtrckr-done"></li>
      <li class="progtrckr-done"></li>
      <li class="progtrckr-todo"></li>
    </ol>
    <!--<button ng-controller="DetailCtrl" class="button button-full button-assertive" ng-click="saveDetails()">Save-->
    <!--</button>-->
    <div class="list card">
      <div class="item item-divider">Detail Information</div>
      <div class="item item-body">
        <div class="item item-input">
          <!--<i class="icon ion-person-stalker"></i>-->
          <span class="input-label">Order code:</span>
          <p class="">{{order.code}}</p>
        </div>
        <label class="item item-input">
          <span class="input-label">Status:</span>
          <p class="">{{order.status}}</p>
        </label>
        <label class="item item-input">
          <span class="input-label">Recipient:</span>
          <p class="">{{order.recipientname}}<br/>{{order.recipientphone}}</p>
        </label>
        <label class="item item-input">
          <span class="input-label">Pick-up Address</span>
          <p class="">{{order.pickupaddress}}</p>
        </label>
        <label class="item item-input">
          <span class="input-label">Pick-up date:</span>
          <p class="">{{order.pickupdate | date : 'dd-MM-yyyy'}}</p>
        </label>
        <label class="item item-input">
          <span class="input-label">Delivery Address:</span>
          <p class="">{{order.deliveryaddress}}</p>
        </label>
        <label class="item item-input">
          <span class="input-label">Delivery Date:</span>
          <p class="">{{order.deliverydate | date : 'dd-MM-yyyy'}}</p>
        </label>
        <label class="item item-input">
          <span class="input-label">COD:</span>
          <p class="">{{order.cod | number}} VND</p>
        </label>
        <label class="item item-input">
          <span class="input-label">Fee:</span>
          <p class="">{{order.fee | number}} VND</p>
        </label>
        <label class="item item-input">
          <span class="input-label">Goods Information:</span>
          <p class="">
            Weight: {{order.weight}}<br/>
            Size: {{order.lengthsize}} x {{order.widthsize}} x {{order.heightsize}} (cm)
          </p>
        </label>
      </div>
    </div>
    <!--<div class="bar bar-footer">-->
      <button ng-controller="DetailCtrl" class="button button-full button-assertive" ng-click="saveDetails()">Save
      </button>
    <!--</div>-->
    <!--<button class="button button-positive button-block  icon-left ion-android-arrow-back">Back to list</button>-->
  </ion-content>
</ion-view>
