<ion-view view-title="History">
  <ion-content>
    <ion-list>
      <ion-item class="item-icon-right" ng-repeat="order in historyorders" type="item-text-wrap" href="#/app/detail/{{order.id}}">
        <div class="titleContent">
          <div>
            <p>{{order.statusid}}</p>
          </div>
          <div>
            <h2>{{order.code}}</h2>
            <p><i class="ion-ios-clock"></i> {{order.date | date : 'HH:mm dd-MM-yy'}}</p>
            <p><i class="ion-social-usd-outline">&nbsp;Fee:</i> {{order.fee | number}} VND</p>
            <p><i class="ion-social-usd-outline">&nbsp;COD:</i> {{order.COD | number}} VND</p>
          </div>
        </div>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
