<ion-view view-title="Issue">
  <ion-content>
    <div>
      <label class="item item-select bcBottom" >
          <div class="input-label">
            Type of Issue
          </div>
        <select>
          <option selected>This is a bue of bule. This is blue</option>
          <option >This is a green</option>
          <option>This is a red</option>
        </select>
      </label>
      <label class="item bcBottom">
        <div class="input-label">
          Issue
        </div>
        <textarea name="issueContent" placeholder="Write here..."></textarea>
      </label>
      <button class="button button-block button-assertive">
        Send
      </button>
    </div>
  </ion-content>
</ion-view>
