<div>
  <ui-gmap-google-map center="map.center" zoom="map.zoom" control="map.control" pan="true" dragging="map.dragging">

	    <ui-gmap-markers models="shipperMarkers" coords="'self'" control="shipperControl" icon="'icon'" idKey="'shipperID'" events="shipperEvents"></ui-gmap-markers>

	    <ui-gmap-markers models="storeMarkers" coords="'self'" control="storeControl" icon="'icon'" idKey="'storeID'" events="storeEvents"></ui-gmap-markers>

	    <ui-gmap-markers models="customerMarkers" coords="'self'" control="customerControl" icon="'icon'" idKey="'customerID'" events="customerEvents"></ui-gmap-markers>

  </ui-gmap-google-map>
</div>

