<ion-view view-title="Profile" ng-controller="ProfileCtrl">
  <ion-content>
    <div id="content">
      <div id="profile-info">
        <img id="profile-image" src="{{profile.avatar}}">
        <h3 id="profile-name">{{profile.name}}</h3>
      </div>
      <div class="list" id="listProfile">
        <div class="item">
          <p><i class="ion-android-calendar"></i> Date of Birtd: {{profile.dob| date : 'dd-MM-yyyy'}}</p>
        </div>
        <div class="item">
          <p><i class="ion-card"></i> Identity Card: {{profile.identitycard}}</p>
        </div>
        <div class="item">
          <p><i class="ion-android-call"></i> Phone Number: {{profile.phonenumber}}</p>
        </div>
        <div class="item">
          <p><i class="ion-email"></i> Email: {{profile.email}}</p>
        </div>
        <div class="item">
          <p><i class="ion-android-home"></i> Address: {{profile.address}}</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
