<ion-view view-title="Profile" ng-controller="ProfileCtrl">
  <ion-content>
    <div id="content">
      <div id="profile-info">
        <img id="profile-image" src="{{profile.avatar}}"/>

        <h3 id="profile-name">{{profile.name}}</h3>
      </div>
      <div class="list card" id="listProfile" style="pointer-events: none;">
        <div class="item item-divider">Information</div>
        <div class="item item-body">
          <label class="item item-input">
            <!--<i class="ion-android-calendar"></i>-->
            <span class="input-label format-display"> Date of Birtd:</span>
            <p class="pull-right">{{profile.dob| date : 'dd-MM-yyyy'}}</p>
          </label>
          <label class="item item-input">
            <!--<i class="ion-card"></i>-->
            <span class="input-label format-display"> Identity Card:</span>
            <p>{{profile.identitycard}}</p>
          </label>
          <label class="item item-input">
            <!--<i class="ion-android-call"></i>-->
            <span class="input-label format-display"> Phone Number:</span>
            <p>{{profile.phonenumber}}</p>
          </label>
          <label class="item item-input">
            <!--<i class="ion-email"></i>-->
            <span class="input-label format-display">Email:</span>
            <p>{{profile.email}}</p>
          </label>
          <label class="item item-input item-text-wrap">
            <!--<i class="ion-email"></i>-->
            <span class="input-label format-display">Address:</span>
            <p>{{profile.address}}</p>
          </label>
        </div>
      </div>
    </div>
    </div>
  </ion-content>
</ion-view>
