<ion-view ng-controller="SignInCtrl" style="margin-top:100px">
  <!--<ion-header-bar class="padding">-->
    <!--<h1 class="title">3S Shipper</h1>-->
  <!--</ion-header-bar>-->
  <ion-content>
    <div>
      <h1 class="title" style="text-align: center">3S Shipper</h1>
    </div>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username :</span>
          <input type="text" ng-model="shipper.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password :</span>
          <input type="password" ng-model="shipper.password">
        </label>
        <label class="">
          <button class="button button-block button-assertive" ng-click="signIn(shipper)">Log in</button>
        </label>
        <p class="text-center">
          <a href="#/forgot-password">Forgot password</a>
        </p>
      </div>
  </ion-content>
</ion-view>
