
<ion-view title="In Working Order">
  <!--<ion-nav-buttons side="left">-->
    <!--<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>-->
  <!--</ion-nav-buttons>-->
    <ion-tabs class="tabs-icon-top tabs-color-active-positive">
      <ion-tab title="Pickup" icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart">
        <ion-pane>
          <ion-content >
            <ion-list>
              <ion-item class="item-icon-right" ng-repeat="orderTask in orderTasks" type="item-text-wrap" href="#/app/detail/{{orderTask.orderID}}">
                <h2>{{orderTask.orderID}}.&nbsp;{{orderTask.title}} </h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
              </ion-item>
            </ion-list>
          </ion-content>
        </ion-pane>
      </ion-tab>
      <ion-tab title="Ship" icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart">
        <ion-pane>
          <ion-content >
            <h1>Ship</h1>
          </ion-content>
        </ion-pane>
      </ion-tab>
      <ion-tab title="HotShip" icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart">
        <ion-pane>
          <ion-content>
            <h1>HotShip</h1>
          </ion-content>
        </ion-pane>
      </ion-tab>
    </ion-tabs>
</ion-view>

<style type="text/css">
  /*.has-header {*/
    /*top: 0px !important;*/
  /*}*/
</style>
