<div>

    <div class="nav-collapse" style="margin-left: 0px;">

        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Library</a></li>
            <li class="active">Data</li>
        </ol>
        <!-- //breadcrumb-->

        <div id="content">
            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            <h2><strong>Order </strong>List </h2>
                            <label class="color">All Order</label>
                        </header>

                        <div class="panel-body">
                            <form>
                                <table class="table table-striped table-hover table-bordered" st-set-filter="customFilter" st-custom-date="{{selectedDate.value}}" st-predicate="{{selected.value}}" stdate="dateRange" search-watch-model-multiple="search" st-table="displayedCollection" st-safe-src="orderList">


                                  <div class="row" >
                                        <div class="col-sm-5 form-group pull-left">
                                            <div class="input-group input-icon">
                                                <i class="fa fa-calendar ico"></i>
                                                <input type="text"  class="form-control" daterange id="daterange" name="daterange" ng-model="dateRange"/>
                                                <span class="input-group-btn">
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-default">
                                                            <i class="fa fa-times" ng-click="dateRange=''"></i>
                                                        </button>
                                                    </div><!-- //btn-group-->
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> {{selectedDate.option}} <span class="caret"></span> </button>
                                                        <ul class="dropdown-menu align-xs-left" role="menu">
                                                            <li><a href="" ng-click="selectedDate = dateOptions[0]">Pickup Date</a></li>
                                                            <li><a href="" ng-click="selectedDate = dateOptions[1]">Delivery Date</a></li>
                                                        </ul>
                                                    </div>
                                                </span>
                                            </div>
                                        </div><!-- //form-group-->

                                        <div class="col-sm-4 pull-right">
                                            <div class="input-icon"> <i class="fa fa-search ico"></i>
                                                <input type="search" class="form-control" placeholder="Search" ng-model="search">
                                            </div>

                                        </div>

                                        <div class="col-sm-2 pull-right">
                                            <!--<select  class="selectpicker form-control show-menu-arrow" ng-repeat="option in searchOptions">-->
                                            <!--&lt;!&ndash;<option data-icon="fa fa-user" id="predicate" ng-model="selectedPredicate" ng-options="option in predicates"></option>&ndash;&gt;<option ng-repeat="options in searchOptions" value="{{options.option}}">{{options.option}}</option>-->
                                            <!--
                                            <!--</select>-->
                                            <select
                                                    class="form-control"
                                                    ng-options="options.option for options in searchOptions" ng-model="selected">
                                            </select>
                                        </div>
                                    </div>
                                    <thead>
                                    <tr>
                                        <th width="5%" st-sort="orderid" class="text-center sortable">OrderID</th>
                                        <th st-sort="store.name" class="text-center sortable">Store name</th>
                                        <th st-sort="pickupaddress" class="text-center sortable">Pickup Address</th>
                                        <th st-sort="deliveryaddress" class="text-center sortable">Delivery Address</th>
                                        <th st-sort="deliveryaddress" class="text-center sortable">Pickup Date</th>
                                        <th st-sort="deliveryaddress" class="text-center sortable">Delivery Date</th>
                                        <!--<th st-sort="order.storeid" class="text-center sortable">DateOfBirth</th>-->
                                        <th st-sort="orderstatus.statusname" class="text-center sortable">Status</th>

                                        <th class="text-center sortable" st-sort="ordertype.typename">Type</th>

                                    </tr>
                                    </thead>
                                    <tbody align="center" >

                                    <tr class="odd gradeX" ng-repeat= "x in displayedCollection">
                                        <td>{{x.orderid}}</td>
                                        <td><a ui-sref="admin.storeDetail({storeid:x.storeid})">{{x.store.name}}</a></td>
                                        <td>{{x.pickupaddress}}</td>
                                        <td>{{x.deliveryaddress}}</td>
                                        <td>{{x.pickupdate|date:"dd/MM/yyyy"}}</td>
                                        <td>{{x.completedate|date:"dd/MM/yyyy"}}</td>

                                        <td class="center">
                                            <span class="label {{orderStatusClass[x.orderstatus.statusname]}}">{{x.orderstatus.statusname}}</span>
                                        </td>

                                        <td class="center"> {{x.ordertype.typename}}</td>
                                        <!--<td>-->
                                        <!--<span class="tooltip-area">-->
                                        <!--<a class="btn btn-default btn-sm" title="Edit"><i class="fa fa-edit (alias)"></i></a>-->
                                        <!--</span>-->
                                        <!--</td>-->
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="9" class="text-right">
                                            <div st-pagination="" st-items-by-page="10"></div>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </form>
                        </div>
                    </section>
                </div>

            </div>
            <!-- //content > row-->

        </div>
        <!-- //content-->


    </div>

    <!--////////////////////////////////////////////////////////////////////////-->
    <!--//////////     MODAL EFFECT DEMO    //////////-->
    <!--//////////////////////////////////////////////////////////////////////-->
    <!--&ndash;&gt;-->
    <div id="md-effect-confirm" class="modal fade" tabindex="-1" data-width="750">
        <div class="modal-header bg-inverse bd-inverse-darken">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
            <h4 class="modal-title">Confirm Dialog</h4>
        </div>
        <!-- //modal-header-->
        <div class="modal-body">
            <form name="myForm" data-parsley-validate>
                <table class="table table-striped">
                    <thead>
                    <tr>

                        <th width="20%" class="text-left">Store</th>
                        <th width="15%" class="text-right">Delivery(VND)</th>
                        <th width="15%" class="text-right">CoD(VND)</th>
                        <th width="15%" class="text-right">Total(VND)</th>
                        <th width="35%">Pay</th>
                        <th class="text-right"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{selectedStore.name}}</td>
                        <td class="text-right">{{selectedStore.generalledgers[0].totaldelivery }}</td>
                        <td class="text-right">{{selectedStore.generalledgers[0].totalcod}}</td>
                        <td class="text-right">{{selectedStore.generalledgers[0].totaldelivery - selectedStore.generalledgers[0].totalcod - payFee}}VND</td>

                        <td class="text-right">
                            <!--<div class="col-lg-16">-->
                            <!--<div class="input-icon input-group-sm">-->
                            <!--<i class="fa fa-search ico"></i>-->

                            <input type="search" id="inputValue" ng-change="checkOK($event)" parsley-type="number" required class="form-control input-group-sm text-right" ng-model="payFee">
                            <!--</div>-->
                            <!--</div>-->
                        </td>
                        <td  class="text-right">
                    <span class="tooltip-area">
                    <a class="btn btn-danger" title="Confirm" ng-click="postLedger(selectedStore)"> <i class="fa fa-check-circle"></i> </a>
                    </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <!-- //modal-body-->
    </div>
    <!-- //modal-->
    <div id="md-effect-block" class="modal fade" tabindex="-1" data-width="400">
        <div class="modal-header bg-inverse bd-inverse-darken">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
            <h4 class="modal-title">Confirm Block</h4>
        </div>
        <!-- //modal-header-->
        <div class="modal-body align-xs-center">
            <form name="myForm">
                <h5><strong>Are you sure to block {{selectedStore.name}}???</strong></h5><br>
                <button type="button" class="btn btn-success btn-transparent" ng-click="blockStore(selectedStore)"><i class="fa fa-check-circle"></i> Yes</button>
                <button type="button" class="btn btn-danger btn-transparent" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i> No</button>
            </form>
        </div>
        <!-- //modal-body-->
    </div>
</div>
