<div>

    <div class="nav-collapse" style="margin-left: 0px;">

        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Library</a></li>
            <li class="active">Data</li>
        </ol>
        <!-- //breadcrumb-->

        <div id="content">
            <div class="row panel">
                <header class="panel-heading">
                    <h2><strong>Add </strong>New Shipper </h2>
                    <label class="color">New Shipper</label>
                </header>
                <div>

                    <div class="row">

                        <div class="col-md-4 align-lg-center">
                            <img alt="" src="{{newShipper.profile.avatar}}" class="circle" style="max-width:120px; border:5px #edece5 solid; margin:25px 0;">

                            <div class="form-group">
                                <button type="button" class="btn btn-theme"> Choose picture...</button>
                            </div>

                        </div>
                        <div class="col-md-8">
                            <br>
                            <h3><strong>Account</strong> Info</h3>
                            <hr>
                             <textarea class="form-control" id="sms-success"  rows="5" style="display:none">
																	 <i class="fa fa-check-circle"></i> Create successfully<br>
																	New Shipper was added to Karry Well..
																</textarea>
                         <textarea class="form-control" id="sms-fail"  rows="5" style="display:none">
																	 <i class="fa fa-exclamation-triangle"></i> Create fail<br>
																	There is an error to add new Shipper.....
																</textarea>
                            <form id="formID" data-parsley-validate>

                                <div class="form-group row" >
                                    <div class="col-md-6">
                                        <label class="control-label">ShipperID</label>
                                        <input type="text" class="form-control" ng-model="newShipper.account.username" disabled>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label">Indentity Card</label>
                                        <input type="text" class="form-control" ng-model="newShipper.profile.identitycard" required parsley-rangelength="[9,12]" parsley-type="digits" placeholder="Indentity card..">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" >Name</label>
                                    <input type="text" class="form-control" ng-model="newShipper.profile.name" required placeholder="Shipper's full name..">
                                </div>
                                <div class="form-group">
                                    <label class="control-label" >Email Address</label>
                                    <input type="text" class="form-control" ng-model="newShipper.profile.email" parsley-type="email" required placeholder="Email...">
                                </div>

                                <!--<div class="form-group">-->
                                    <!--<label class="control-label">Password</label>-->
                                    <!--<input type="password" class="form-control" ng-model="newShipper.account.password" id="pword"  parsley-rangelength="[4,8]"  required placeholder="4-8 Characters">-->
                                <!--</div>-->
                                <!--<div class="form-group">-->
                                    <!--<label class="control-label">Confirm Password</label>-->
                                    <!--<input type="password" class="form-control"  parsley-trigger="keyup" required  parsley-equalto="#pword" placeholder="Confirm Password" parsley-error-message="Password don't match" >-->
                                <!--</div>-->
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <input type="hidden" id="elemCurrent" value="12/10/2015">
                                        <label class="control-label">Date of birth</label>
                                        <input class="form-control"  value="10/24/1984" single-date-picker ng-model="newShipper.profile.dob" parsley-americandate="true" required placeholder="Date of birth..">

                                    </div>

                                    <div class="col-md-6">
                                        <label class="control-label">Phone number</label>
                                        <input type="text" class="form-control" ng-model="newShipper.profile.phonenumber" parsley-type="phone" parsley-rangelength="[10,15]" required placeholder="Phone number..">
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label class="control-label">Address</label>
                                    <input class="form-control" ng-model="newShipper.profile.address" placeholder="Address.." required>
                                </div>
                                <hr>
                                <div class="form-group">
                                    <button type="button" class="btn btn-theme" ng-click="createShipper()"> Create Account</button>
                                </div>
                            </form>
                        </div>
                        <!-- /row-->
                    </div>
                    <!-- /#tab4-->


                </div>


            </div>
            <!-- //content > row-->

        </div>
        <!-- //content-->


    </div>

    <!--////////////////////////////////////////////////////////////////////////-->
    <!--//////////     MODAL EFFECT DEMO    //////////-->
    <!--//////////////////////////////////////////////////////////////////////-->
    <!--&ndash;&gt;-->

</div>
