<div>

    <div class="nav-collapse" style="margin-left: 0px;">

        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Library</a></li>
            <li class="active">Data</li>
        </ol>
        <!-- //breadcrumb-->

        <div id="content">
            <div class="row panel">
                <header class="panel-heading">
                    <h2><strong>Add </strong>New Shipper </h2>
                    <label class="color">New</label>
                </header>
                <div class="col-lg-8">

                    <div class="row">

                        <div class="col-md-4 align-lg-center">
                            <img alt="" src="assets/img/avatar.png" class="circle" style="max-width:120px; border:5px #edece5 solid; margin:25px 0;">

                            <div class="form-group">
                                <button type="button" class="btn btn-theme"> Choose picture...</button>
                            </div>

                        </div>
                        <div class="col-md-8">
                            <br>
                            <h3><strong>Account</strong> Info</h3>
                            <hr>
                            <form id="formID" data-parsley-validate>

                                <div class="form-group row" >
                                    <div class="col-md-6">
                                        <label class="control-label">ShipperID</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label">Indentity Card</label>
                                        <input type="text" class="form-control" required parsley-rangelength="[9,9]" parsley-type="digits" placeholder="Your last name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" >Name</label>
                                    <input type="text" class="form-control" required placeholder="Shipper's full name..">
                                </div>
                                <div class="form-group">
                                    <label class="control-label" >Email Address</label>
                                    <input type="text" class="form-control" parsley-type="email" required placeholder="Email...">
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Password</label>
                                    <input type="password" class="form-control" id="pword"  parsley-rangelength="[4,8]"  required placeholder="4-8 Characters">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Confirm Password</label>
                                    <input type="password" class="form-control"  parsley-trigger="keyup" required  parsley-equalto="#pword" placeholder="Confirm Password" parsley-error-message="Password don't match" >
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <label class="control-label">Date of birth</label>
                                        <input class="form-control" required placeholder="Date of birth..">
                                    </div>

                                    <div class="col-md-6">
                                        <label class="control-label">Phone number</label>
                                        <input type="text" class="form-control" parsley-type="digits" parsley-rangelength="[10,11]" required placeholder="Phone number..">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Address</label>
                                    <input class="form-control" placeholder="Address" required>
                                </div>
                                <hr>
                                <div class="form-group">
                                    <button type="button" class="btn btn-theme" ng-click="createShipper()"> Create Account</button>
                                </div>
                            </form>
                        </div>
                        <!-- /row-->
                    </div>
                    <!-- /#tab4-->


                </div>

                <div class="col-lg-4">
                    <div class="widget-rating row">
                        <div class="col-xs-12">
                            <div class="well corner-flip flip-gray flip-bg-white bg-palevioletred-darken">
                                <div class="row">
                                    <div class="col-xs-12 col-md-6 text-center">
                                        <h1 class="rating-num"> 4.7</h1>
                                        <div class="rating">
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"> </span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"> </span>
                                            <span class="glyphicon glyphicon-star-empty"></span>
                                        </div>
                                        <div> <span class="glyphicon glyphicon-user"></span>20,408 total </div>
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        <div class="row rating-desc">
                                            <div class="col-xs-3 col-md-3 text-right"><label class="progress-label"> <span class="glyphicon glyphicon-star"></span>5</label></div>
                                            <div class="col-xs-8 col-md-9">
                                                <div class="progress progress-stripes progress-sm progress-dark">
                                                    <div class="progress-bar bg-warning" aria-valuetransitiongoal="85"></div>
                                                </div>
                                            </div>
                                            <!-- end 5 -->
                                            <div class="col-xs-3 col-md-3 text-right"><label class="progress-label"> <span class="glyphicon glyphicon-star"></span>4</label></div>
                                            <div class="col-xs-8 col-md-9">
                                                <div class="progress progress-sm progress-dark">
                                                    <div class="progress-bar bg-warning" aria-valuetransitiongoal="45"></div>
                                                </div>
                                            </div>
                                            <!-- end 4 -->
                                            <div class="col-xs-3 col-md-3 text-right"><label class="progress-label"> <span class="glyphicon glyphicon-star"></span>3</label></div>
                                            <div class="col-xs-8 col-md-9">
                                                <div class="progress progress-sm progress-dark">
                                                    <div class="progress-bar bg-warning" aria-valuetransitiongoal="57"></div>
                                                </div>
                                            </div>
                                            <!-- end 3 -->
                                            <div class="col-xs-3 col-md-3 text-right"><label class="progress-label"> <span class="glyphicon glyphicon-star"></span>2</label></div>
                                            <div class="col-xs-8 col-md-9">
                                                <div class="progress progress-sm progress-dark">
                                                    <div class="progress-bar bg-warning" aria-valuetransitiongoal="24"></div>
                                                </div>
                                            </div>
                                            <!-- end 2 -->
                                            <div class="col-xs-3 col-md-3 text-right"><label class="progress-label"> <span class="glyphicon glyphicon-star"></span>1</label></div>
                                            <div class="col-xs-8 col-md-9">
                                                <div class="progress progress-sm progress-dark last">
                                                    <div class="progress-bar bg-warning" aria-valuetransitiongoal="12"></div>
                                                </div>
                                            </div>
                                            <!-- end 1 -->
                                        </div>
                                        <!-- end row -->
                                    </div>
                                    <!-- end xs-12 -->
                                </div>
                                <!-- end row -->
                            </div>
                            <!-- end well-->
                        </div>
                        <!-- end xs-12 -->
                    </div>
                    <!-- end widget-rating-->
                    <h3><strong>FRIENDS</strong> List </h3>
                    <hr>
                    <div class="widget-friend">
                        <ul class="circle">
                            <li>548 Follower Friends</li>
                            <li class="online" title="zicdemo"><img alt="" src="assets/img/avatar.png"></li>
                            <li class="online"><img alt="" src="assets/img/avatar2.png"></li>
                            <li><img alt="" src="assets/img/avatar3.png"></li>
                            <li class="online"><img alt="" src="assets/img/avatar4.png"></li>
                            <li ><img alt="" src="assets/img/avatar5.png"></li>
                            <li class="busy"><img alt="" src="assets/img/avatar6.png"></li>
                            <li class="online"><img alt="" src="assets/photos_preview/50/people/1.jpg"></li>
                            <li class="online"><img alt="" src="assets/photos_preview/50/people/2.jpg"></li>
                            <li><img alt="" src="assets/photos_preview/50/people/3.jpg"></li>
                            <li class="online"><img alt="" src="assets/photos_preview/50/people/4.jpg"></li>
                            <li ><img alt="" src="assets/photos_preview/50/people/5.jpg"></li>
                            <li class="busy"><img alt="" src="assets/photos_preview/50/people/6.jpg"></li>
                            <li><img alt="" src="assets/photos_preview/50/people/7.jpg"></li>
                            <li class="online"><img alt="" src="assets/photos_preview/50/people/8.jpg"></li>
                            <li><a href="#"><i class="fa fa-plus"></i></a></li>
                        </ul>
                    </div>
                    <hr>
                    <div class="tooltip-area">
                        <a class="btn btn-inverse" title="more friends" href="#menu-right"><i class="fa fa-book"></i></a>
                        <button class="btn btn-inverse" title="unfriends"><i class="fa fa-trash-o"></i></button>
                    </div>
                </div>
            </div>
            <!-- //content > row-->

        </div>
        <!-- //content-->


    </div>

    <!--////////////////////////////////////////////////////////////////////////-->
    <!--//////////     MODAL EFFECT DEMO    //////////-->
    <!--//////////////////////////////////////////////////////////////////////-->
    <!--&ndash;&gt;-->
    <div id="md-effect-confirm" class="modal fade" tabindex="-1" data-width="750">
        <div class="modal-header bg-inverse bd-inverse-darken">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
            <h4 class="modal-title">Confirm payment</h4>
        </div>
        <!-- //modal-header-->
        <div class="modal-body">
            <form name="myForm" data-parsley-validate>
                <table class="table table-striped">
                    <thead>
                    <tr>

                        <th width="20%" class="text-left">Store</th>
                        <th width="15%" class="text-right">Delivery(VND)</th>
                        <th width="15%" class="text-right">CoD(VND)</th>
                        <th width="15%" class="text-right">Total(VND)</th>
                        <th width="35%">Pay</th>
                        <th class="text-right"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{selectedStore.name}}</td>
                        <td class="text-right">{{selectedStore.generalledgers[0].totaldelivery }}</td>
                        <td class="text-right">{{selectedStore.generalledgers[0].totalcod}}</td>
                        <td class="text-right">{{selectedStore.generalledgers[0].totaldelivery - selectedStore.generalledgers[0].totalcod - payFee}}VND</td>

                        <td class="text-right">
                            <!--<div class="col-lg-16">-->
                            <!--<div class="input-icon input-group-sm">-->
                            <!--<i class="fa fa-search ico"></i>-->

                            <input type="search" id="inputValue" ng-change="checkOK($event)" parsley-type="number" required class="form-control input-group-sm text-right" ng-model="payFee">
                            <!--</div>-->
                            <!--</div>-->
                        </td>
                        <td  class="text-right">
                    <span class="tooltip-area">
                    <a class="btn btn-danger" title="Confirm" ng-click="postLedger(selectedStore)"> <i class="fa fa-check-circle"></i> </a>
                    </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <!-- //modal-body-->
    </div>
    <!-- //modal-->
    <div id="md-effect-block" class="modal fade" tabindex="-1" data-width="400">
        <div class="modal-header bg-inverse bd-inverse-darken">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
            <h4 class="modal-title">Confirm Block</h4>
        </div>
        <!-- //modal-header-->
        <div class="modal-body align-xs-center">
            <form name="myForm">
                <h5><strong>Are you sure to block {{selectedStore.name}}???</strong></h5><br>
                <button type="button" class="btn btn-success btn-transparent" ng-click="blockStore(selectedStore)"><i class="fa fa-check-circle"></i> Yes</button>
                <button type="button" class="btn btn-danger btn-transparent" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i> No</button>
            </form>
        </div>
        <!-- //modal-body-->
    </div>
</div>
