
<div>
    <div id="content">
        <div class="column">
            <div class="row">
                <div class="col-md-8">
                    <div class="storePanel">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#sectionA" target="_self">In process</a></li>
                            <li><a data-toggle="tab" href="#sectionB" target="_self">Done</a></li>
                            <li><a data-toggle="tab" href="#sectionC" target="_self">Draft</a></li>
                            <li><a data-toggle="tab" href="#sectionD" target="_self">Issue</a></li>
                        </ul>
                        <div class="tab-content">
                            <!--/////////////////////////////////////////////////////////////////
                           ////////////............. INPROCESS ORDER..........///////////////////
                           //////////////////////////////////////////////////////////////////-->
                            <div id="sectionA" class="tab-pane fade in active">
                                <section class="panel">
                                    <header class="panel-heading">
                                        <h3><strong>In process</strong> Order </h3>
                                    </header>
                                    <div class="panel-body">
                                        <form>
                                            <table class="table table-striped table-hover table-bordered"
                                                   st-set-filter="customFilter" st-custom-date="createdate"
                                                   st-predicate="{{selectedInprocess.value}}"
                                                   stdate="dateRangeInprocess"
                                                   search-watch-model="searchInprocess"
                                                   st-table="displayedCollectionInprocess"
                                                   st-safe-src="orderInprocess">

                                                <div class="row">

                                                    <div class="col-md-4 form-group pull-left">

                                                        <div class=" input-icon">
                                                            <i class="fa fa-calendar ico"></i>
                                                            <input type="text" daterange class="form-control"
                                                                   name="daterange" id="dateRangeInprocess"
                                                                   ng-model="dateRangeInprocess"
                                                                   placeholder="Create Date"/>
                                                        </div>


                                                    </div>
                                                    <!-- //form-group-->
                                                    <div class="col-md-4 pull-right">
                                                        <div class="input-icon"><i class="fa fa-search ico"></i>

                                                            <input type="search" class="form-control"
                                                                   placeholder="Search" ng-model="searchInprocess">
                                                        </div>


                                                    </div>

                                                    <div class="col-md-4 pull-right">
                                                        <select
                                                                class="form-control"
                                                                ng-options="options.option for options in searchOptionsInProcess"
                                                                ng-model="selectedInprocess">

                                                        </select>

                                                    </div>

                                                </div>
                                                <thead>
                                                <tr>
                                                    <th st-sort="orderid" st-skip-natural="true"
                                                        class="text-center sortable">OrderID
                                                    </th>
                                                    <th st-sort="deliveryaddress" st-skip-natural="true"
                                                        class="text-center sortable">Delivery Address
                                                    </th>
                                                    <th st-sort="recipientname" st-skip-natural="true"
                                                        class="text-center sortable">Customer
                                                    </th>
                                                    <th st-sort="recipientphone" st-skip-natural="true"
                                                        class="text-center sortable">Customer Phone
                                                    </th>
                                                    <th st-sort="statusname" st-skip-natural="true"
                                                        class="text-center sortable">Status
                                                    </th>
                                                    <th class="text-center">Option</th>

                                                </tr>
                                                </thead>
                                                <tbody align="center">

                                                <tr class="odd gradeX" ng-repeat="x in displayedCollectionInprocess">
                                                    <td>{{x.orderid}}</td>
                                                    <td>{{x.deliveryaddress}}</td>
                                                    <td>{{x.recipientname}}</td>
                                                    <td> {{x.recipientphone}}</td>
                                                    <td> {{x.statusname}}</td>
                                                    <td width="16%">
                                                        <span class=" tooltip-area">
                                                    <a class="btn btn-default btn-sm"
                                                       title="Edit"><i class="fa fa-edit (alias)"></i></a>
                                                    <a ng-click="setOrder(x)" data-toggle="modal"
                                                       data-target="#md-cancel-order" class="btn btn-default btn-sm"
                                                       title="Cancel"><i class="fa fa-times"></i></a>
                                                    </span>
                                                    </td>
                                                </tr>
                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                    <td colspan="6" class="text-right">
                                                        <div st-pagination="" st-items-by-page="5"></div>
                                                    </td>
                                                </tr>
                                                </tfoot>
                                            </table>

                                        </form>
                                    </div>
                                </section>
                            </div>

                            <!--
                            ////////////////////////////////////////////////
                            //////////     MODAL CANCER ORDER  //////////
                            ///////////////////////////////////////////////////
                            -->
                            <div id="md-cancel-order" class="modal fade" data-header-color="#736086">
                                <div class="modal-header bg-inverse bd-inverse-darken">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i
                                            class="fa fa-times"></i></button>
                                    <h4 class="modal-title">Cancel Order</h4>
                                </div>
                                <!-- //modal-header-->
                                <div class="modal-body">
                                    <div class="form-group column">
                                        <div align="center">
                                            <label class="text-center"><h4>If you cancel this order you have to pay
                                                <strong>{{cancelFee}} </strong>VND</h4></label>
                                            <label class="text-center"><h4>Do you want to cancel?</h4></label>
                                        </div>
                                    </div>
                                </div>
                                <!-- //modal-body-->
                                <div class="modal-footer">
                                    <button type="submit" ng-click="cancerOrder()" data-theme="success"
                                            data-horizontal="top" class="btn btn-theme notifiCancel"
                                            data-dismiss="modal">Yes
                                    </button>
                                    <!-- data-sticky="true" (Ghim notify)-->
                                    <button type="button" data-dismiss="modal" class="btn btn-inverse">No</button>
                                </div>
                                <!--///////////////////////////////////////////////////////
                                /////////////////////   SUCCESS ALERT   /////////////////
                                ///////////////////////////////////////////////////////////
                                -->
                                <textarea class="form-control" id="smsCancel" rows="5" style="display:none">
                                    Order <strong>{{Order.orderid}}</strong> is cancelling!
                                </textarea>
                            </div>

                            <!-- //modal-->

                            <!--Inprocess Order-->

                            <!--/////////////////////////////////////////////////////////////////
                           ////////////............. DONE ORDER..........///////////////////
                           //////////////////////////////////////////////////////////////////-->
                            <div id="sectionB" class="tab-pane fade">
                                <section class="panel">
                                    <header class="panel-heading">
                                        <h3><strong>Done</strong> Order </h3>
                                    </header>
                                    <div class="panel-body">
                                        <form>
                                            <table class="table table-striped table-hover table-bordered"
                                                   st-set-filter="customFilter" st-custom-date="donedate"
                                                   st-predicate="{{selectedDone.value}}" stdate="dateRangeDone"
                                                   search-watch-model="searchDone" st-table="displayedCollectionDone"
                                                   st-safe-src="orderDone">

                                                <div class="row">

                                                    <div class="col-md-4 form-group pull-left">

                                                        <div class=" input-icon">
                                                            <i class="fa fa-calendar ico"></i>
                                                            <input type="text" daterange class="form-control"
                                                                   name="daterange" id="dateRangeDone"
                                                                   ng-model="dateRangeDone" placeholder="Done Date"/>
                                                        </div>


                                                    </div>
                                                    <!-- //form-group-->
                                                    <div class="col-md-4 pull-right">
                                                        <div class="input-icon"><i class="fa fa-search ico"></i>

                                                            <input type="search" class="form-control"
                                                                   placeholder="Search" ng-model="searchDone">
                                                        </div>

                                                    </div>

                                                    <div class="col-sm-4 pull-right">
                                                        <select
                                                                class="form-control"
                                                                ng-options="options.option for options in searchOptionsDone"
                                                                ng-model="selectedDone">

                                                        </select>

                                                    </div>

                                                </div>
                                                <thead>
                                                <tr>
                                                    <th st-sort="orderid" st-skip-natural="true"
                                                        class="text-center sortable">OrderID
                                                    </th>
                                                    <th st-sort="donedate" st-skip-natural="true"
                                                        class="text-center sortable">Done Date
                                                    </th>
                                                    <th st-sort="deliveryaddress" st-skip-natural="true"
                                                        class="text-center sortable">Delivery Address
                                                    </th>
                                                    <th st-sort="recipientname" st-skip-natural="true"
                                                        class="text-center sortable">Customer
                                                    </th>
                                                    <th st-sort="recipientphone" st-skip-natural="true"
                                                        class="text-center sortable">Customer Phone
                                                    </th>
                                                    <!--<th st-sort="statusname" st-skip-natural="true"-->
                                                    <!--class="text-center sortable">Status-->
                                                    <!--</th>-->
                                                    <!--<th class="text-center">Option </th>-->

                                                </tr>
                                                </thead>
                                                <tbody align="center">

                                                <tr class="odd gradeX" ng-repeat="x in displayedCollectionDone">
                                                    <td>{{x.orderid}}</td>
                                                    <td>{{x.donedate}}</td>
                                                    <td>{{x.deliveryaddress}}</td>
                                                    <td>{{x.recipientname}}</td>
                                                    <td> {{x.recipientphone}}</td>
                                                    <!--<td> {{x.statusname}}</td>-->
                                                    <!-- <td  width="16%>
                                                     <span class="tooltip-area">
                                                     <a href="" class="btn btn-default btn-sm" title="Submit"><i class="fa fa-cloud-upload"></i></a>
                                                     <a href=""  class="btn btn-default btn-sm" title="Delete"><i class="fa fa-trash-o"></i></a>
                                                     </span>
                                                     </td> -->
                                                </tr>
                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                    <td colspan="5" class="text-right">
                                                        <div st-pagination="" st-items-by-page="5"></div>
                                                    </td>
                                                </tr>
                                                </tfoot>
                                            </table>

                                        </form>
                                    </div>
                                </section>
                            </div>

                            <!--Done order tab-->

                            <!--/////////////////////////////////////////////////////////////////
                            ////////////............. DRAFF ORDER..........///////////////////
                            //////////////////////////////////////////////////////////////////-->
                            <div id="sectionC" class="tab-pane fade ">
                                <section class="panel">
                                    <header class="panel-heading">
                                        <h3><strong>Draft</strong> Order </h3>
                                    </header>
                                    <div class="panel-body">
                                        <form>
                                            <table class="table table-striped table-hover table-bordered"
                                                   st-set-filter="customFilter" st-custom-date="deliverydate"
                                                   st-predicate="{{selectedDraff.value}}" stdate="dateRangeDraff"
                                                   search-watch-model="searchDraff" st-table="displayedCollectionDraff"
                                                   st-safe-src="ordersDraff">

                                                <div class="row">

                                                    <!--<div class="col-md-4 form-group pull-left">-->
                                                    <!--<div class=" input-icon">-->
                                                    <!--<i class="fa fa-calendar ico"></i>-->
                                                    <!--<input type="text" daterange class="form-control"-->
                                                    <!--name="daterange" id="daterange"-->
                                                    <!--ng-model="dateRange"/>-->
                                                    <!--</div>-->
                                                    <!--</div>-->

                                                    <div class="col-md-4  form-group pull-right">
                                                        <div class="input-icon"><i class="fa fa-search ico"></i>

                                                            <input type="search" class="form-control"
                                                                   placeholder="Search" ng-model="searchDraff">
                                                        </div>


                                                    </div>

                                                    <div class="col-sm-4 pull-right">
                                                        <select
                                                                class="form-control"
                                                                ng-options="options.option for options in searchOptionsDraff"
                                                                ng-model="selectedDraff">

                                                        </select>

                                                    </div>

                                                </div>
                                                <thead>
                                                <tr>
                                                    <th st-sort="orderid" st-skip-natural="true"
                                                        class="text-center sortable">OrderID
                                                    </th>
                                                    <th st-sort="deliveryaddress" st-skip-natural="true"
                                                        class="text-center sortable">Delivery Address
                                                    </th>
                                                    <th st-sort="recipientname" st-skip-natural="true"
                                                        class="text-center sortable">Customer
                                                    </th>
                                                    <th st-sort="recipientphone" st-skip-natural="true"
                                                        class="text-center sortable">Customer Phone
                                                    </th>
                                                    <!--<th st-sort="statusname" st-skip-natural="true"-->
                                                    <!--class="text-center sortable">Status-->
                                                    <!--</th>-->
                                                    <th class="text-center">Option</th>

                                                </tr>
                                                </thead>
                                                <tbody align="center">

                                                <tr class="odd gradeX" ng-repeat="x in displayedCollectionDraff">
                                                    <td>{{x.orderid}}</td>
                                                    <td>{{x.deliveryaddress}}</td>
                                                    <td>{{x.recipientname}}</td>
                                                    <td> {{x.recipientphone}}</td>
                                                    <!--<td> {{x.statusname}}</td>-->
                                                    <td width="16%">
                                                        <span class=" tooltip-area">
                                                    <a class="btn btn-default btn-sm" title="Edit"><i
                                                            class="fa fa-edit (alias)"></i></a>
                                                    <a ng-click="setOrder(x)" href="" data-toggle="modal"
                                                       data-target="#md-delete-order" class="btn btn-default btn-sm"
                                                       title="Delete"><i class="fa fa-trash-o"></i></a>
                                                    </span>
                                                    </td>
                                                </tr>
                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                    <td colspan="6" class="text-right">
                                                        <div st-pagination="" st-items-by-page="5"></div>
                                                    </td>
                                                </tr>
                                                </tfoot>
                                            </table>

                                        </form>
                                    </div>
                                </section>
                            </div>

                            <!--
                            ////////////////////////////////////////////////
                            //////////     MODAL DELETE DRAFF ORDER  //////////
                            ///////////////////////////////////////////////////
                            -->
                            <div id="md-delete-order" class="modal fade" data-header-color="#736086">
                                <div class="modal-header bg-inverse bd-inverse-darken">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i
                                            class="fa fa-times"></i></button>
                                    <h4 class="modal-title">DELETE DRAFF ORDER</h4>
                                </div>
                                <!-- //modal-header-->
                                <div class="modal-body">
                                    <div class="form-group column">
                                        <div>
                                            <label><h4>Do you want to delete draff order {{Order.orderid}} ?</h4>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <!-- //modal-body-->
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-theme" data-dismiss="modal"
                                            ng-click="deleteDraffOrder()">Yes
                                    </button>
                                    <button type="button" data-dismiss="modal" class="btn btn-inverse">No</button>
                                </div>
                                <!-- //modal-footer-->
                            </div>
                            <!--///////////////////////////////////////////////////////
                               /////////////////////   SUCCESS DELETE ALERT   /////////////////
                               ///////////////////////////////////////////////////////////
                               -->
                                <textarea class="form-control success" id="smsDeleted" rows="5" style="display:none">
                                    Order <strong>{{Order.orderid}}</strong> has been deleted successfully!
                                </textarea>

                            <!--///////////////////////////////////////////////////////
                               /////////////////////   FAIL DELETE ALERT   /////////////////
                               ///////////////////////////////////////////////////////////
                               -->
                                <textarea class="form-control theme" id="smsDeleteFail" rows="5" style="display:none">
                                    Order <strong>{{Order.orderid}}</strong> can not delete successfully!
                                </textarea>


                            <!--Draff Order-->


                            <!--/////////////////////////////////////////////////////////////////
                            ////////////............. ISSUE ORDER..........///////////////////
                            //////////////////////////////////////////////////////////////////-->
                            <div id="sectionD" class="tab-pane fade">
                                <section class="panel">
                                    <header class="panel-heading">
                                        <h3><strong>Issue</strong> Order </h3>
                                    </header>
                                    <div class="panel-body">
                                        <form>
                                            <table class="table table-striped table-hover table-bordered"
                                                   st-set-filter="customFilter" st-custom-date="deliverydate"
                                                   st-predicate="{{selectedIssue.value}}" stdate="dateRangeIssue"
                                                   search-watch-model="searchIssue" st-table="displayedCollectionIssue"
                                                   st-safe-src="orderIssue">

                                                <div class="row">

                                                    <!--Gio han ngay tim kiem-->
                                                    <!--<div class="col-md-4 form-group pull-left">-->
                                                    <!--<div class=" input-icon">-->
                                                    <!--<i class="fa fa-calendar ico"></i>-->
                                                    <!--<input type="text" daterange class="form-control"-->
                                                    <!--name="daterange" id="daterange4"-->
                                                    <!--ng-model="dateRange"/>-->
                                                    <!--</div>-->
                                                    <!--</div>-->


                                                    <div class="col-md-4 form-group pull-right">
                                                        <div class="input-icon"><i class="fa fa-search ico"></i>

                                                            <input type="search" class="form-control"
                                                                   placeholder="Search" ng-model="searchIssue">
                                                        </div>


                                                    </div>

                                                    <div class="col-sm-4 pull-right">
                                                        <select
                                                                class="form-control"
                                                                ng-options="options.option for options in searchOptionsIssue"
                                                                ng-model="selectedIssue">

                                                        </select>

                                                    </div>

                                                </div>
                                                <thead>
                                                <tr>
                                                    <th st-sort="orderid" st-skip-natural="true"
                                                        class="text-center sortable">OrderID
                                                    </th>
                                                    <th st-sort="deliveryaddress" st-skip-natural="true"
                                                        class="text-center sortable">Delivery Address
                                                    </th>
                                                    <th st-sort="recipientname" st-skip-natural="true"
                                                        class="text-center sortable">Customer
                                                    </th>
                                                    <th st-sort="recipientphone" st-skip-natural="true"
                                                        class="text-center sortable">Customer Phone
                                                    </th>
                                                    <th st-sort="statusname" st-skip-natural="true"
                                                        class="text-center sortable">Status
                                                    </th>
                                                    <!--<th width="16%" class="text-center">Option</th>-->

                                                </tr>
                                                </thead>
                                                <tbody align="center">

                                                <tr class="odd gradeX" ng-repeat="x in displayedCollectionIssue">
                                                    <td>{{x.orderid}}</td>
                                                    <td>{{x.deliveryaddress}}</td>
                                                    <td>{{x.recipientname}}</td>
                                                    <td> {{x.recipientphone}}</td>
                                                    <td> {{x.statusname}}</td>
                                                    <!--
                                                    <td>
                                                        <span class="tooltip-area">
                                                        <a href="" class="btn btn-default btn-sm" title="Edit"><i
                                                                class="fa fa-edit (alias)"></i></a>
                                                        <a href="" class="btn btn-default btn-sm" title="Cancel"><i
                                                                class="fa fa-times"></i></a>
                                                        </span>
                                                    </td>
                                                    -->
                                                </tr>
                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                    <td colspan="5" class="text-right">
                                                        <div st-pagination="" st-items-by-page="5"></div>
                                                    </td>
                                                </tr>
                                                </tfoot>
                                            </table>

                                        </form>
                                    </div>
                                </section>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="column col-md-4">
                    <div class="">
                        <div class="well bg-info">
                            <div class="widget-tile">
                                <section>
                                    <h5><strong>TOTAL</strong> ORDERS </h5>

                                    <h2>{{totalOrder|number}}</h2>

                                    <div class="progress progress-xs progress-white progress-over-tile">
                                        <div class="progress-bar  progress-bar-white" aria-valuetransitiongoal="1"
                                             aria-valuemax="1"></div>
                                    </div>
                                    <h5><strong>TODAY </strong><label class="progress-label label-white"><h4>
                                        {{orderToday|number}}</h4>
                                    </label></h5>
                                </section>
                                <div class="hold-icon"><i class="fa fa-archive"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="well bg-inverse">
                            <div class="widget-tile">
                                <section>
                                    <h5><strong>TOTAL</strong> CASH ON DELIVERY </h5>

                                    <h2>{{totalCod|number}}</h2>

                                    <div class="progress progress-xs progress-white progress-over-tile">
                                        <div class="progress-bar  progress-bar-white" aria-valuetransitiongoal="1"
                                             aria-valuemax="1"></div>
                                    </div>
                                    <h5><strong>TODAY </strong><label class="progress-label label-white"><h4>
                                        {{todayCod|number}}</h4>
                                    </label></h5>
                                </section>
                                <div class="hold-icon"><i class="fa fa-money"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="well bg-theme">
                            <div class="widget-tile">
                                <section>
                                    <h5><strong>TOTAL</strong> SHIP FEE </h5>

                                    <h2>{{totalFee|number}}</h2>

                                    <div class="progress progress-xs progress-white progress-over-tile">
                                        <div class="progress-bar  progress-bar-white" aria-valuetransitiongoal="1"
                                             aria-valuemax="1"></div>
                                    </div>
                                    <h5><strong>TODAY </strong><label class="progress-label label-white"><h4>{{todayFee
                                        | number}}</h4>
                                    </label></h5>
                                </section>
                                <div class="hold-icon"><i class="fa fa-money"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


