<div>

    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Dashboard</a></li>
    </ol>

    <div class="breadcrumb">
        <br>
        <br>
        <br>
        <br>
        <br>
        <h4>....................Place for maps..........................</h4>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
    <!-- //breadcrumb-->
    <div id="content">
        <div class="column">

            <div class="row">
                <div class="col-md-8">
                    <div class="storePanel">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#sectionA">In process</a></li>
                            <li><a data-toggle="tab" href="#sectionB">Done</a></li>
                            <li><a data-toggle="tab" href="#sectionC">Draft</a></li>
                            <li><a data-toggle="tab" href="#sectionD">Issue</a></li>

                        </ul>
                        <div class="tab-content">
                            <!--/////////////////////////////////////////////////////////////////
                           ////////////............. INPROCESS ORDER..........///////////////////
                           //////////////////////////////////////////////////////////////////-->
                            <div id="sectionA" class="tab-pane fade in active">
                                <section class="panel">
                                    <header class="panel-heading">
                                        <h3><strong>In process</strong> Order </h3>
                                    </header>
                                    <div class="panel-body">
                                        <form>
                                            <table class="table table-striped table-hover table-bordered"
                                                   st-set-filter="customFilter" st-custom-date="createdate"
                                                   st-predicate="{{selected.value}}" stdate="dateRange"
                                                   search-watch-model="search" st-table="displayedCollectionInprocess"
                                                   st-safe-src="orderInprocess">

                                                <div class="row">

                                                    <div class="col-md-4 form-group pull-left">

                                                        <div class=" input-icon">
                                                            <i class="fa fa-calendar ico"></i>
                                                            <input type="text" daterange class="form-control"
                                                                   name="daterange" id="daterange2"
                                                                   ng-model="dateRange"  placeholder="Create Date"/>
                                                        </div>


                                                    </div>
                                                    <!-- //form-group-->
                                                    <div class="col-md-4 pull-right">
                                                        <div class="input-icon"><i class="fa fa-search ico"></i>

                                                            <input type="search" class="form-control"
                                                                   placeholder="Search" ng-model="search">
                                                        </div>


                                                    </div>

                                                    <div class="col-md-4 pull-right">
                                                        <select
                                                                class="form-control"
                                                                ng-options="options.option for options in searchOptions"
                                                                ng-model="selected">

                                                        </select>

                                                    </div>

                                                </div>
                                                <thead>
                                                <tr>
                                                    <th st-sort="orderid" st-skip-natural="true"
                                                        class="text-center sortable">OrderID
                                                    </th>
                                                    <th st-sort="deliveryaddress" st-skip-natural="true"
                                                        class="text-center sortable">Delivery Address
                                                    </th>
                                                    <th st-sort="recipientname" st-skip-natural="true"
                                                        class="text-center sortable">Customer
                                                    </th>
                                                    <th st-sort="recipientphone" st-skip-natural="true"
                                                        class="text-center sortable">Customer Phone
                                                    </th>
                                                    <th st-sort="statusname" st-skip-natural="true"
                                                        class="text-center sortable">Status
                                                    </th>
                                                    <th class="text-center">Option</th>

                                                </tr>
                                                </thead>
                                                <tbody align="center">

                                                <tr class="odd gradeX" ng-repeat="x in displayedCollectionInprocess">
                                                    <td>{{x.orderid}}</td>
                                                    <td>{{x.deliveryaddress}}</td>
                                                    <td>{{x.recipientname}}</td>
                                                    <td> {{x.recipientphone}}</td>
                                                    <td> {{x.statusname}}</td>
                                                    <td width="16%">
                                                        <span class=" tooltip-area">
                                                    <a href="javascript:void(0)" class="btn btn-default btn-sm"
                                                       title="Edit"><i class="fa fa-edit (alias)"></i></a>
                                                    <a href="javascript:void(0)" class="btn btn-default btn-sm"
                                                       title="Cancel"><i class="fa fa-times"></i></a>
                                                    </span>
                                                    </td>
                                                </tr>
                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                    <td colspan="6" class="text-right">
                                                        <div st-pagination="" st-items-by-page="5"></div>
                                                    </td>
                                                </tr>
                                                </tfoot>
                                            </table>

                                        </form>
                                    </div>
                                </section>
                            </div>

                            <!--/////////////////////////////////////////////////////////////////
                           ////////////............. DONE ORDER..........///////////////////
                           //////////////////////////////////////////////////////////////////-->
                            <div id="sectionB" class="tab-pane fade">
                                <section class="panel">
                                    <header class="panel-heading">
                                        <h3><strong>Done</strong> Order </h3>
                                    </header>
                                    <div class="panel-body">
                                        <form>
                                            <table class="table table-striped table-hover table-bordered"
                                                   st-set-filter="customFilter" st-custom-date="donedate"
                                                   st-predicate="{{selected.value}}" stdate="dateRange"
                                                   search-watch-model="search" st-table="displayedCollectionDone"
                                                   st-safe-src="orderDone">

                                                <div class="row">

                                                    <div class="col-md-4 form-group pull-left">

                                                        <div class=" input-icon">
                                                            <i class="fa fa-calendar ico"></i>
                                                            <input type="text" daterange class="form-control"
                                                                   name="daterange" id="daterange3"
                                                                   ng-model="dateRange" placeholder="Done Date"/>
                                                        </div>


                                                    </div>
                                                    <!-- //form-group-->
                                                    <div class="col-md-4 pull-right">
                                                        <div class="input-icon"><i class="fa fa-search ico"></i>

                                                            <input type="search" class="form-control"
                                                                   placeholder="Search" ng-model="search">
                                                        </div>

                                                    </div>

                                                    <div class="col-sm-4 pull-right">
                                                        <select
                                                                class="form-control"
                                                                ng-options="options.option for options in searchOptions"
                                                                ng-model="selected">

                                                        </select>

                                                    </div>

                                                </div>
                                                <thead>
                                                <tr>
                                                    <th st-sort="orderid" st-skip-natural="true"
                                                        class="text-center sortable">OrderID
                                                    </th>
                                                    <th st-sort="deliveryaddress" st-skip-natural="true"
                                                        class="text-center sortable">Delivery Address
                                                    </th>
                                                    <th st-sort="recipientname" st-skip-natural="true"
                                                        class="text-center sortable">Customer
                                                    </th>
                                                    <th st-sort="recipientphone" st-skip-natural="true"
                                                        class="text-center sortable">Customer Phone
                                                    </th>
                                                    <!--<th st-sort="statusname" st-skip-natural="true"-->
                                                        <!--class="text-center sortable">Status-->
                                                    <!--</th>-->
                                                    <!--<th class="text-center">Option </th>-->

                                                </tr>
                                                </thead>
                                                <tbody align="center">

                                                <tr class="odd gradeX" ng-repeat="x in displayedCollectionDone">
                                                    <td>{{x.orderid}}</td>
                                                    <td>{{x.deliveryaddress}}</td>
                                                    <td>{{x.recipientname}}</td>
                                                    <td> {{x.recipientphone}}</td>
                                                    <!--<td> {{x.statusname}}</td>-->
                                                    <!-- <td  width="16%>
                                                     <span class="tooltip-area">
                                                     <a href="javascript:void(0)" class="btn btn-default btn-sm" title="Submit"><i class="fa fa-cloud-upload"></i></a>
                                                     <a href="javascript:void(0)"  class="btn btn-default btn-sm" title="Delete"><i class="fa fa-trash-o"></i></a>
                                                     </span>
                                                     </td> -->
                                                </tr>
                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                    <td colspan="4" class="text-right">
                                                        <div st-pagination="" st-items-by-page="5"></div>
                                                    </td>
                                                </tr>
                                                </tfoot>
                                            </table>

                                        </form>
                                    </div>
                                </section>
                            </div>

                            <!--/////////////////////////////////////////////////////////////////
                            ////////////............. DRAFF ORDER..........///////////////////
                            //////////////////////////////////////////////////////////////////-->
                            <div id="sectionC" class="tab-pane fade">
                                <section class="panel">
                                    <header class="panel-heading">
                                        <h3><strong>Draft</strong> Order </h3>
                                    </header>
                                    <div class="panel-body">
                                        <form>
                                            <table class="table table-striped table-hover table-bordered"
                                                   st-set-filter="customFilter" st-custom-date="deliverydate"
                                                   st-predicate="{{selected.value}}" stdate="dateRange"
                                                   search-watch-model="search" st-table="displayedCollectionDraff"
                                                   st-safe-src="ordersDraff">

                                                <div class="row">

                                                    <!--<div class="col-md-4 form-group pull-left">-->
                                                        <!--<div class=" input-icon">-->
                                                            <!--<i class="fa fa-calendar ico"></i>-->
                                                            <!--<input type="text" daterange class="form-control"-->
                                                                   <!--name="daterange" id="daterange"-->
                                                                   <!--ng-model="dateRange"/>-->
                                                        <!--</div>-->
                                                    <!--</div>-->

                                                    <div class="col-md-4  form-group pull-right">
                                                        <div class="input-icon"><i class="fa fa-search ico"></i>

                                                            <input type="search" class="form-control"
                                                                   placeholder="Search" ng-model="search">
                                                        </div>


                                                    </div>

                                                    <div class="col-sm-4 pull-right">
                                                        <select
                                                                class="form-control"
                                                                ng-options="options.option for options in searchOptionsDraff"
                                                                ng-model="selected2">

                                                        </select>

                                                    </div>

                                                </div>
                                                <thead>
                                                <tr>
                                                    <th st-sort="orderid" st-skip-natural="true"
                                                        class="text-center sortable">OrderID
                                                    </th>
                                                    <th st-sort="deliveryaddress" st-skip-natural="true"
                                                        class="text-center sortable">Delivery Address
                                                    </th>
                                                    <th st-sort="recipientname" st-skip-natural="true"
                                                        class="text-center sortable">Customer
                                                    </th>
                                                    <th st-sort="recipientphone" st-skip-natural="true"
                                                        class="text-center sortable">Customer Phone
                                                    </th>
                                                    <!--<th st-sort="statusname" st-skip-natural="true"-->
                                                        <!--class="text-center sortable">Status-->
                                                    <!--</th>-->
                                                    <th class="text-center">Option</th>

                                                </tr>
                                                </thead>
                                                <tbody align="center">

                                                <tr class="odd gradeX" ng-repeat="x in displayedCollectionDraff">
                                                    <td>{{x.orderid}}</td>
                                                    <td>{{x.deliveryaddress}}</td>
                                                    <td>{{x.recipientname}}</td>
                                                    <td> {{x.recipientphone}}</td>
                                                    <!--<td> {{x.statusname}}</td>-->
                                                    <td width="16%">
                                                        <span class=" tooltip-area">
                                                    <a ng-click="submitDraff(x.orderid)" href="javascript:void(0)" class="btn btn-default btn-sm"
                                                       title="Submit"><i class="fa fa-cloud-upload"></i></a>
                                                    <a ng-click="deleteDraffOrder(x.orderid)" href="javascript:void(0)" class="btn btn-default btn-sm"
                                                       title="Delete"><i class="fa fa-trash-o"></i></a>
                                                    </span>
                                                    </td>
                                                </tr>
                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                    <td colspan="6" class="text-right">
                                                        <div st-pagination="" st-items-by-page="5"></div>
                                                    </td>
                                                </tr>
                                                </tfoot>
                                            </table>

                                        </form>
                                    </div>
                                </section>
                            </div>


                            <!--/////////////////////////////////////////////////////////////////
                            ////////////............. ISSUE ORDER..........///////////////////
                            //////////////////////////////////////////////////////////////////-->
                            <div id="sectionD" class="tab-pane fade">
                                <section class="panel">
                                    <header class="panel-heading">
                                        <h3><strong>Issue</strong> Order </h3>
                                    </header>
                                    <div class="panel-body">
                                        <form>
                                            <table class="table table-striped table-hover table-bordered"
                                                   st-set-filter="customFilter" st-custom-date="deliverydate"
                                                   st-predicate="{{selected.value}}" stdate="dateRange"
                                                   search-watch-model="search" st-table="displayedCollectionIssue"
                                                   st-safe-src="orderIssue">

                                                <div class="row">

                                                    <!--Gio han ngay tim kiem-->
                                                    <!--<div class="col-md-4 form-group pull-left">-->
                                                        <!--<div class=" input-icon">-->
                                                            <!--<i class="fa fa-calendar ico"></i>-->
                                                            <!--<input type="text" daterange class="form-control"-->
                                                                   <!--name="daterange" id="daterange4"-->
                                                                   <!--ng-model="dateRange"/>-->
                                                        <!--</div>-->
                                                    <!--</div>-->


                                                    <div class="col-md-4 form-group pull-right">
                                                        <div class="input-icon"><i class="fa fa-search ico"></i>

                                                            <input type="search" class="form-control"
                                                                   placeholder="Search" ng-model="search">
                                                        </div>


                                                    </div>

                                                    <div class="col-sm-4 pull-right">
                                                        <select
                                                                class="form-control"
                                                                ng-options="options.option for options in searchOptions"
                                                                ng-model="selected">

                                                        </select>

                                                    </div>

                                                </div>
                                                <thead>
                                                <tr>
                                                    <th st-sort="orderid" st-skip-natural="true"
                                                        class="text-center sortable">OrderID
                                                    </th>
                                                    <th st-sort="deliveryaddress" st-skip-natural="true"
                                                        class="text-center sortable">Delivery Address
                                                    </th>
                                                    <th st-sort="recipientname" st-skip-natural="true"
                                                        class="text-center sortable">Customer
                                                    </th>
                                                    <th st-sort="recipientphone" st-skip-natural="true"
                                                        class="text-center sortable">Customer Phone
                                                    </th>
                                                    <th st-sort="statusname" st-skip-natural="true"
                                                        class="text-center sortable">Status
                                                    </th>
                                                    <!--<th width="16%" class="text-center">Option</th>-->

                                                </tr>
                                                </thead>
                                                <tbody align="center">

                                                <tr class="odd gradeX" ng-repeat="x in displayedCollectionIssue">
                                                    <td>{{x.orderid}}</td>
                                                    <td>{{x.deliveryaddress}}</td>
                                                    <td>{{x.recipientname}}</td>
                                                    <td> {{x.recipientphone}}</td>
                                                    <td> {{x.statusname}}</td>
                                                    <!--
                                                    <td>
                                                        <span class="tooltip-area">
                                                        <a href="javascript:void(0)" class="btn btn-default btn-sm" title="Edit"><i
                                                                class="fa fa-edit (alias)"></i></a>
                                                        <a href="javascript:void(0)" class="btn btn-default btn-sm" title="Cancel"><i
                                                                class="fa fa-times"></i></a>
                                                        </span>
                                                    </td>
                                                    -->
                                                </tr>
                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                    <td colspan="5" class="text-right">
                                                        <div st-pagination="" st-items-by-page="5"></div>
                                                    </td>
                                                </tr>
                                                </tfoot>
                                            </table>

                                        </form>
                                    </div>
                                </section>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="column col-md-4">
                    <div class="">
                        <div class="well bg-info">
                            <div class="widget-tile">
                                <section>
                                    <h5><strong>TOTAL</strong> ORDERS </h5>

                                    <h2>{{totalOrder}}</h2>

                                    <div class="progress progress-xs progress-white progress-over-tile">
                                        <div class="progress-bar  progress-bar-white" aria-valuetransitiongoal="1"
                                             aria-valuemax="1"></div>
                                    </div>
                                    <h5><strong>TODAY </strong><label class="progress-label label-white"><h4>{{orderToday}}</h4>
                                    </label></h5>
                                </section>
                                <div class="hold-icon"><i class="fa fa-archive"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="well bg-inverse">
                            <div class="widget-tile">
                                <section>
                                    <h5><strong>TOTAL</strong> CASH ON DELIVERY </h5>

                                    <h2>{{totalCod}}</h2>

                                    <div class="progress progress-xs progress-white progress-over-tile">
                                        <div class="progress-bar  progress-bar-white" aria-valuetransitiongoal="1"
                                             aria-valuemax="1"></div>
                                    </div>
                                    <h5><strong>TODAY </strong><label class="progress-label label-white"><h4>{{todayCod}}</h4>
                                    </label></h5>
                                </section>
                                <div class="hold-icon"><i class="fa fa-money"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="well bg-theme">
                            <div class="widget-tile">
                                <section>
                                    <h5><strong>TOTAL</strong> SHIP FEE </h5>

                                    <h2>{{totalFee}}</h2>

                                    <div class="progress progress-xs progress-white progress-over-tile">
                                        <div class="progress-bar  progress-bar-white" aria-valuetransitiongoal="1"
                                             aria-valuemax="1"></div>
                                    </div>
                                    <h5><strong>TODAY </strong><label class="progress-label label-white"><h4>{{todayFee}}</h4>
                                    </label></h5>
                                </section>
                                <div class="hold-icon"><i class="fa fa-money"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>