<div>
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Dashboard</a></li>
    </ol>
    <!-- //breadcrumb-->
    <div id="content">

        <div class="row">
            <div class="col-md-4">
                <div class="well bg-info">
                    <div class="widget-tile">
                        <section>
                            <h5><strong>TOTAL</strong> ORDERS </h5>
                            <h2>8590</h2>
                            <div class="progress progress-xs progress-white progress-over-tile">
                                <div class="progress-bar  progress-bar-white" aria-valuetransitiongoal="1" aria-valuemax="1"></div>
                            </div>
                            <h5><strong>TODAY </strong><label class="progress-label label-white"><h4>125</h4></label></h5>
                        </section>
                        <div class="hold-icon"><i class="fa fa-archive"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well bg-inverse">
                    <div class="widget-tile">
                        <section>
                            <h5><strong>TOTAL</strong> CASH ON DELIVERY </h5>
                            <h2>478</h2>
                            <div class="progress progress-xs progress-white progress-over-tile">
                                <div class="progress-bar  progress-bar-white" aria-valuetransitiongoal="1" aria-valuemax="1"></div>
                            </div>
                            <h5><strong>TODAY </strong><label class="progress-label label-white"><h4>25</h4></label></h5>
                        </section>
                        <div class="hold-icon"><i class="fa fa-money"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well bg-theme">
                    <div class="widget-tile">
                        <section>
                            <h5><strong>TOTAL</strong> SHIP FEE </h5>
                            <h2>97,584</h2>
                            <div class="progress progress-xs progress-white progress-over-tile">
                                <div class="progress-bar  progress-bar-white" aria-valuetransitiongoal="1" aria-valuemax="1"></div>
                            </div>
                            <h5><strong>TODAY </strong><label class="progress-label label-white"><h4>35</h4></label></h5>
                        </section>
                        <div class="hold-icon"><i class="fa fa-money"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class = "row">
            <div class="storePanel">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#sectionA">Draft</a></li>
                    <li><a data-toggle="tab" href="#sectionB">In process</a></li>
                    <li><a data-toggle="tab" href="#sectionC">Done</a></li>
                </ul>
                <div class="tab-content">
                    <div id="sectionA" class="tab-pane fade in active">
                        <section class="panel">
                            <header class="panel-heading">
                                <h2><strong>Draft</strong> Order </h2>
                            </header>
                            <div class="panel-tools fully color" align="right" data-toolscolor="#6CC3A0">
                                <ul class="tooltip-area">
                                    <li><a href="javascript:void(0)" class="btn btn-collapse" title="Collapse"><i class="fa fa-sort-amount-asc"></i></a></li>
                                    <li><a href="javascript:void(0)" class="btn btn-reload"  title="Reload"><i class="fa fa-retweet"></i></a></li>
                                    <li><a href="javascript:void(0)" class="btn btn-close" title="Close"><i class="fa fa-times"></i></a></li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <form>
                                    <table class="table table-striped">
                                        <thead>
                                        <tr >
                                            <th class="text-center">ID</th>
                                            <th class="text-center">Delivery address</th>
                                            <th class="text-center">Customer</th>
                                            <th class="text-center">Phone</th>
                                            <th class="text-center">Status</th>
                                        </tr>
                                        </thead>
                                        <tbody align="center" ng-repeat="item in ordersWaiting">
                                        <tr class="odd gradeX">
                                            <td class="center">{{item.orderid}}</td>
                                            <td class="center">{{item.deliveryaddress}}</td>
                                            <td class="center">{{item.recipientname}}</td>
                                            <td class="center"> {{item.recipientphone}}</td>
                                            <td class="center">{{item.statusname}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                        </section>
                    </div>
                    <div id="sectionB" class="tab-pane fade">
                        <section class="panel">
                            <header class="panel-heading">
                                <h2><strong>In process</strong> Order </h2>
                            </header>
                            <div class="panel-tools fully color" align="right" data-toolscolor="#6CC3A0">
                                <ul class="tooltip-area">
                                    <li><a href="javascript:void(0)" class="btn btn-collapse" title="Collapse"><i class="fa fa-sort-amount-asc"></i></a></li>
                                    <li><a href="javascript:void(0)" class="btn btn-reload"  title="Reload"><i class="fa fa-retweet"></i></a></li>
                                    <li><a href="javascript:void(0)" class="btn btn-close" title="Close"><i class="fa fa-times"></i></a></li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <form>
                                    <table class="table table-striped" id="table-example2">
                                        <thead>
                                        <tr >
                                            <th class="text-center">ID</th>
                                            <th class="text-center">Delivery address</th>
                                            <th class="text-center">Customer</th>
                                            <th class="text-center">Phone</th>
                                            <th class="text-center">Status</th>
                                        </tr>
                                        </thead>
                                        <tbody align="center" ng-repeat="item in orderCarring">
                                        <tr class="odd gradeX">
                                            <td class="center">{{item.orderid}}</td>
                                            <td class="center">{{item.deliveryaddress}}</td>
                                            <td class="center">{{item.recipientname}}</td>
                                            <td class="center"> {{item.recipientphone}}</td>
                                            <td class="center">{{item.statusname}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                        </section></div>
                    <div id="sectionC" class="tab-pane fade">
                        <section class="panel">
                            <header class="panel-heading">
                                <h2><strong>Done</strong> Order </h2>
                            </header>
                            <div class="panel-tools fully color" align="right" data-toolscolor="#6CC3A0">
                                <ul class="tooltip-area">
                                    <li><a href="javascript:void(0)" class="btn btn-collapse" title="Collapse"><i class="fa fa-sort-amount-asc"></i></a></li>
                                    <li><a href="javascript:void(0)" class="btn btn-reload"  title="Reload"><i class="fa fa-retweet"></i></a></li>
                                    <li><a href="javascript:void(0)" class="btn btn-close" title="Close"><i class="fa fa-times"></i></a></li>
                                </ul>
                            </div>
                            <div class="panel-body">
                                <form>
                                    <table class="table table-striped" id="table-example3">
                                        <thead>
                                        <tr >
                                            <th class="text-center">ID</th>
                                            <th class="text-center">Delivery address</th>
                                            <th class="text-center">Customer</th>
                                            <th class="text-center">Phone</th>
                                            <th class="text-center">Status</th>
                                        </tr>
                                        </thead>
                                        <tbody align="center" ng-repeat="item in orderCarring">
                                        <tr class="odd gradeX">
                                            <td class="center">{{item.orderid}}</td>
                                            <td class="center">{{item.deliveryaddress}}</td>
                                            <td class="center">{{item.recipientname}}</td>
                                            <td class="center"> {{item.recipientphone}}</td>
                                            <td class="center">{{item.statusname}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                        </section></div>

                </div>
            </div>

        </div>
        <!-- //content > row-->

    </div>
   </div>