node_modules
*.log
DS_Store
.idea
bower_components
dist
libs
Develop/Sources/client-mobile/3S Shipper/platforms/
Develop/Sources/client-mobile/3S Shipper/resources/
Develop/Sources/server/myModels-gen
Develop/Sources/server/config/development.js
References/Tài liệu nhóm khác/Unit test/Template_DefectLog.xls
References/Tài liệu nhóm khác/Unit test/Template_UnitTest.xlsx
References/Tài liệu nhóm khác/Unit test/Increment 2/AKP_UnitTest_ver1.0.xlsx
References/Tài liệu nhóm khác/Unit test/Increment 2/HoangNDH_AKP_UnitTest_10072015.xlsx
References/Tài liệu nhóm khác/Unit test/Increment 2/NghiaPT_AKP_UnitTest_10072015.xlsx
References/Tài liệu nhóm khác/Unit test/Increment 2/NhungBH_AKP_UnitTest_09072015.xlsx
References/Tài liệu nhóm khác/Unit test/Increment 2/NhungBH_UT_DefectLog_09072015.xls
References/Tài liệu nhóm khác/Unit test/Increment 2/~$AKP_UnitTest_ver1.0.xlsx
References/Tài liệu nhóm khác/Unit test/Increment 3/AKP_UnitTest_ver2.0.xlsx
References/Tài liệu nhóm khác/Unit test/Increment 3/HoangNDH_UnitTest_30072015.xlsx
References/Tài liệu nhóm khác/Unit test/Increment 3/NghiaPT_AKP_UnitTest_31072015.xlsx
References/Tài liệu nhóm khác/Unit test/Increment 3/NghiaPT_AKP_UnitTest_ver1.0.xlsx
References/Tài liệu nhóm khác/Unit test/Increment 3/NhungBH_AKP_UnitTest_30072015.xlsx
References/Tài liệu nhóm khác/Unit test/Increment 3/NhungBH_UT_DefectLog_30072015.xls
References/Tài liệu nhóm khác/Unit test/Increment 3/ThaiVH_AKP_UnitTest_24072015.xlsx
References/Tài liệu nhóm khác/Unit test/Increment 3/~$AKP_UnitTest_ver2.0.xlsx
References/Tài liệu nhóm khác/Unit test/Increment 3/NhungBH_UTTestData_30_07_2015/sampleImage1.JPG
References/Tài liệu nhóm khác/Unit test/Increment 3/NhungBH_UTTestData_30_07_2015/sampleImage2.jpg
References/Tài liệu nhóm khác/Unit test/Increment 3/NhungBH_UTTestData_30_07_2015/sampleImage3.png
References/Tài liệu nhóm khác/Unit test/Increment 3/NhungBH_UTTestData_30_07_2015/sampleImage4.png
References/Tài liệu nhóm khác/Unit test/Increment 3/NhungBH_UTTestData_30_07_2015/sampleImage5.png
References/Tài liệu nhóm khác/Unit test/Increment 3/NhungBH_UTTestData_30_07_2015/textLine_sampleImage1.jpg
References/Tài liệu nhóm khác/Unit test/Increment 3/NhungBH_UTTestData_30_07_2015/TextLine_sampleImage2.png
References/Tài liệu nhóm khác/Unit test/Increment 3/NhungBH_UTTestData_30_07_2015/threshold_sampleImage3.png
References/Tài liệu nhóm khác/Unit test/Increment 3/NhungBH_UTTestData_30_07_2015/threshold_sampleImage4.png
References/Tài liệu nhóm khác/Unit test/Increment 3/NhungBH_UTTestData_30_07_2015/Thumbs.db
