<!DOCTYPE html>
<html lang="en-us" class="no-js">

	<head>
		<meta charset="utf-8">
        <title>KARRY WELL</title>
        <meta name="description" content="Be punctual, be safe, be functional, be cheap">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Karry Team">

        <!-- ================= Favicon ================== -->
        <!-- Standard -->

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <link rel="shortcut icon" href="img/favicon.png">
        <!-- Retina iPad Touch Icon-->
        <link rel="apple-touch-icon" sizes="144x144" href="img/favicon-retina-ipad.png">
        <!-- Retina iPhone Touch Icon-->
        <link rel="apple-touch-icon" sizes="114x114" href="img/favicon-retina-iphone.png">
        <!-- Standard iPad Touch Icon--> 
        <link rel="apple-touch-icon" sizes="72x72" href="img/favicon-standard-ipad.png">
        <!-- Standard iPhone Touch Icon--> 
        <link rel="apple-touch-icon" sizes="57x57" href="img/favicon-standard-iphone.png">

        <!-- ============== Resources style ============== -->
        <link rel="stylesheet" href="css/style-1.css" />

        <link rel="stylesheet" href="css/jquery.mCustomScrollbar.css">



		<!-- Modernizr runs quickly on page load to detect features -->
		<script src="js/modernizr.js"></script>
	</head>
	
	<body>

		<div class="loading-part animated-quick">

			<div class="loader-part opacity-0 animated-quick">

				<div class="loader-circle"></div>
				<div class="loader-text">KARRY WELL</div>

			</div>

		</div>

		<button class="open-menu-mobile">
			<i class="icon ion-navicon-round opening-menu"></i>
			<i class="icon ion-close-round closing-menu display-none"></i>
		</button>

		<div id="navigation" class="mobile-nav animated-middle">

			<ul class="main-navigation">

				<li>
					<a class="nav-link-close">
						<i class="icon ion-ios-home-outline"></i>
						Home
					</a>
				</li>

				<li>
					<a class="nav-link about-content">
						<i class="icon ion-ios-people-outline"></i>
						About
					</a>
				</li>

				<li>
					<a class="nav-link services-content">
						<i class="icon ion-ios-world-outline"></i>
						Services
					</a>
				</li>

			</ul> <!-- CLOSE Main nav -->

			<ul class="bottom-nav">
				<li class="facebook-color">
					<a href="https://www.facebook.com/Karrywell-1693577444212497/" title="">
						<i class="icon ion-social-facebook-outline"></i>
						Facebook
					</a>
				</li>

			</ul> <!-- CLOSE .bottom-nav -->

		</div> <!-- CLOSE #navigation -->

		<section id="home-part" class="scale-max">

			<div class="overlay">

				<!-- YouTube link -->
				<a id="bgndVideo" class="player" data-property="{videoURL:'https://youtu.be/NqxHODQZvUY',containment:'body',autoPlay:true, mute:false, startAt:0, stopAt:0, opacity:1}"></a>
			</div>

			<div class="item-title text-center animated-quick">

				<!-- Your logo -->
<!--				<img src="img/logo.png" alt="" class=p"brand-logo"/>-->
				<img src="img/logo_2x.png" alt="" class="brand-logo"/>
                <img src="img/karrywell2.png" alt="" class="brand-logo"/>
                <p>Beta v1.0</p>
				<h1 class="cd-headline letters rotate-2">
					WE ARE

					<div class="cd-words-wrapper">

						<b class="is-visible">COMING&nbsp;SOON!</b> <!-- use the code &nbsp; to add a space between 2 words -->
						<b>PASSION</b>
						<b>KARRY&nbsp;GROUP</b>

					</div>

				</h1>

				<p>Let Us Make You Happy!</p>

				<a href="/app/#/auth/login" class="btn open-newsletter btn-color">JOIN WITH US</a>

				<a href="https://www.facebook.com/Karrywell-1693577444212497/" class="btn open-content btn-light about-content">SUPPORT US</a>
				
			</div> <!-- CLOSE item-title -->

		</section> <!-- CLOSE #home-part -->

		<section id="content-part">

			<div id="main-about">

				<div class="item-title">

					<div id="countdown_dashboard">
								                        
		                <!-- Days / if you need only 2 figures for the day, delete the first line <div class="digit">0</div> -->
<!--
		                <div class="dash-glob">
		                    <div class="dash days_dash">
		                        <div class="digit">0</div>
		                        <div class="digit">0</div>
		                        <div class="digit">0</div>
		                        <div class="text-right">Days</div>
		                    </div>

		                </div>
-->

		                <h3 class="text-news">...let us make you happy!</h3>
                        <img src="img/karrywell.png">

		    		</div> <!-- .countdown_dashboard -->

		    	</div>

	    	</div>

			<div class="inner-content" id="about-content">
				<h2>About Karry Well</h2>
				<div class="separator"></div>
				<div class="row">

					<div class="col-xs-12 col-sm-12 col-lg-12">
						<p>After four months working tirelessly on the project, with the aspiration of inspiring youth spirit and professionally self-broadening technological horizons, our Karrywell team is now presenting Karrywell alpha version. It is a shipping system aiming to local small and medium enterprises such as restaurants, franchises or fashion outlets, which are in need of delivery by express but having difficulties in gathering, training and managing their own shipping teams (shippers).</p>
					</div>
					<div class="col-xs-12 col-sm-12 col-lg-12" style="padding: 0px 150px">
						<img src="img/icons_shipping.png">
					</div>
				</div>
			</div>

			<div class="portfolio">
				<div class="col-xs-12 col-sm-6 col-lg-6">

					<div class="col-xs-12 col-sm-6 col-lg-6">

						<a href="https://www.facebook.com/Karrywell-1693577444212497/" title="My Caption 2">

							<div class="small-square">

								<div class="hover-info">
						            <h4>Frank LEE</h4>
						            <span class="date-info">CE0 - Founder</span>
						        </div>

						    </div>

						</a>

					</div>

					<div class="col-xs-12 col-sm-6 col-lg-6">

						<a href="https://www.facebook.com/Karrywell-1693577444212497/" title="My Caption 3">

						<div class="small-square second">

							<div class="hover-info">
					            <h4>Decodedmrq</h4>
					            <span class="date-info">Mobile Dev</span>
					        </div>

					    </div>

					    </a>

					</div>

					<div class="col-xs-12 col-sm-6 col-lg-6">

						<a href="https://www.facebook.com/Karrywell-1693577444212497/" title="My Caption 4">

						<div class="small-square third">

							<div class="hover-info">
					            <h4>Huy TDH</h4>
					            <span class="date-info">Mobile Leader</span>
					        </div>

					    </div>

					    </a>

					</div>

					<div class="col-xs-12 col-sm-6 col-lg-6">

						<a href="https://www.facebook.com/Karrywell-1693577444212497/" title="My Caption 5">

						<div class="small-square fourth">

							<div class="hover-info">
					            <h4>Pico Kieu</h4>
					            <span class="date-info">Web Dev</span>
					        </div>

					    </div>

					    </a>

					</div>

				</div>
                <div class="col-xs-12 col-sm-6 col-lg-6">

					<div class="col-xs-12 col-sm-6 col-lg-6">

						<a href="img/gallery-2.jpg" title="My Caption 2" class="swipebox">

							<div class="small-square five">

								<div class="hover-info">
						            <h4>Domau Nguyen</h4>
						            <span class="date-info">Web Leader</span>
						        </div>

						    </div>

						</a>

					</div>

					<div class="col-xs-12 col-sm-6 col-lg-6">

						<a href="img/gallery-3.jpg" title="My Caption 3" class="swipebox">

						<div class="small-square six">

							<div class="hover-info">
					            <h4>Nhím</h4>
					            <span class="date-info">Test Leader</span>
					        </div>

					    </div>

					    </a>

					</div>

					<div class="col-xs-12 col-sm-6 col-lg-6">

						<a href="img/gallery-4.jpg" title="My Caption 4" class="swipebox">

						<div class="small-square eight">

							<div class="hover-info">
					            <h4>Zui Zui</h4>
					            <span class="date-info">Internship</span>
					        </div>

					    </div>

					    </a>

					</div>

					<div class="col-xs-12 col-sm-6 col-lg-6">

						<a href="img/gallery-5.jpg" title="My Caption 5" class="swipebox">

						<div class="small-square nine">

							<div class="hover-info">
					            <h4>Vân Vương</h4>
					            <span class="date-info">Internship</span>
					        </div>

					    </div>

					    </a>

					</div>

				</div>
			</div>

			<div class="inner-content" id="services-content">
			
				<h2>The advantage of Karrywell:</h2>
				<div class="separator"></div>
			
				<p> <span class="glyphicon glyphicon-ok"></span> Enable an enterprise to find the nearest shipper withing a certain. </p>
				<p> <span class="glyphicon glyphicon-ok"></span> Enable an enterprise to observe the state of shipment during the shipping process. </p>
				<p> <span class="glyphicon glyphicon-ok"></span> Provide a visual interface of the shipment via Google map. </p>
				<p> <span class="glyphicon glyphicon-ok"></span> Verify receiving by identification codes between enterprises – shippers and shippers – final receivers. </p>
				<p> <span class="glyphicon glyphicon-ok"></span> Calculate and recommend the shortest way to save time and money for both enterprises and shippers. </p>
				<p> <span class="glyphicon glyphicon-ok"></span> Ensure payment evidently and auto-update payment information. </p>

				<h2 style="margin-top: 50px">What we use ?</h2>
				<div class="separator"></div>

				<p>Karrywell applies various new languages, Nodejs., lonic, AngularJS for instance into particular tasks. Our lodestar is always keeping up with the latest tech-trends for the most effective applications. </p>

				<div class="row">

					<div class="col-xs-12 col-sm-3 col-lg-3">
						<div class="service-item">
							<img src="img/node.png" width="150px" height="150px">
						</div>
					</div>

					<div class="col-xs-12 col-sm-4 col-lg-4">
						<div class="service-item">
	                       	<img src="img/angular-js.png" width="200px" height="200px">
						</div>
	                </div>

					<div class="col-xs-12 col-sm-4 col-lg-4" style="margin-top: 50px">
						<div class="service-item">
							<img src="img/Ionic_Logo.svg.png" width="300px" height="100px">
						</div>
					</div>

				</div>

				<h2 style="margin-top: 50px">Karrywell’s creterion:</h2>
				<div class="separator"></div>
				<h4>"Be punctual, be safe, be functional, be cheap". </h4>

			</div>

			<div id="map"></div>

			<!--<div class="inner-content" id="contact-content">-->

				<!--<h2>Get in touch!</h2>-->
				<!--<div class="separator"></div>-->

				<!--<div class="row">-->

					<!--<div class="col-xs-12 col-sm-12 col-lg-4">-->

						<!--<div class="contact-item">-->

							<!--<h6><i class="icon ion-ios-location"></i> Main address</h6>-->

							<!--<p>-->
								<!--<a href="https://goo.gl/maps/2eF6Z" target="_blank"><strong>66 Grand Central,</strong><br>-->
								<!--<strong>New York, USA</strong></a>-->
							<!--</p>-->

						<!--</div>-->

						<!--<div class="contact-item">-->

							<!--<h6><i class="icon ion-ios-telephone"></i> Call us</h6>-->
							<!-- -->
							<!--<p>-->
								<!--<strong><a href="tel:+661254611">(+33) 66-1254-611</a></strong><br>-->
								<!--<strong><a href="tel:+665628146">(+37) 66-5628-146</a></strong>-->
							<!--</p>-->

						<!--</div>-->

						<!--<div class="contact-item">-->

							<!--<h6><i class="icon ion-paper-airplane"></i> Write us</h6>-->

							<!--<p>-->
								<!--<strong><a href="mailto:moet@exemple.com">malin@marketing.com</a></strong><br>-->
								<!--<strong><a href="mailto:moet@exemple.com">malin@customer.com</a></strong>-->
							<!--</p>-->

						<!--</div>-->
					<!-- -->
					<!--</div>-->

					<!--<div class="col-xs-12 col-sm-12 col-lg-8">-->
				<!-- -->
						<!--&lt;!&ndash; Contact form &ndash;&gt;-->
	                	<!--<form id="contact-form" name="contact-form" method="POST" data-name="Contact Form">-->

	                		<!--<div class="row">-->

	                            <!--&lt;!&ndash; Full name &ndash;&gt;-->
	                            <!--<div class="col-xs-12 col-sm-6 col-lg-6">-->
	                                <!--<div class="form-group">-->
	                                    <!--<input type="text" id="name" class="form form-control" placeholder="Your Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Name'" name="name" data-name="Name" required>-->
	                                <!--</div>-->
	                            <!--</div>-->

	                            <!--&lt;!&ndash; E-mail &ndash;&gt;-->
	                            <!--<div class="col-xs-12 col-sm-6 col-lg-6">-->
	                                <!--<div class="form-group">-->
	                                    <!--<input type="email" id="email" class="form form-control" placeholder="Your Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email'" name="email-address" data-name="Email Address" required>-->
	                                <!--</div>-->
	                            <!--</div>-->

	                            <!--&lt;!&ndash; Subject &ndash;&gt;-->
	                            <!--<div class="col-xs-12 col-sm-12 col-lg-12">-->
	                                <!--<div class="form-group">-->
	                                    <!--<input type="text" id="subject" class="form form-control" placeholder="Write the subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Write the subject'" name="subject" data-name="Subject">-->
	                                <!--</div>-->
	                            <!--</div>-->

	                            <!--&lt;!&ndash; Message &ndash;&gt;-->
	                            <!--<div class="col-xs-12 col-sm-12 col-lg-12 no-padding">-->
	                                <!--<div class="form-group">-->
	                                    <!--<textarea id="text-area" class="form textarea form-control" placeholder="Your message here... 20 characters Min." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your message here... 20 characters Min.'" name="message" data-name="Text Area" required></textarea>-->
	                                <!--</div>-->
	                            <!--</div>-->

	                        <!--</div>-->

	                    	<!--&lt;!&ndash; Button submit &ndash;&gt;-->
	                    	<!--<button type="submit" id="valid-form" class="btn btn-color">Send my Message</button>-->
	        <!-- -->
	                    <!--</form>-->
	                    <!--&lt;!&ndash; /. Contact form &ndash;&gt;-->
	                    <!-- -->
	                    <!--<div id="block-answer">-->
							<!--<div id="answer"></div>-->
						<!--</div>-->

					<!--</div>-->

				<!--</div>-->

			<!--</div>-->

		</section> <!-- CLOSE #content-part -->

		<!--<section id="newsletter-part" class="opacity-0 newsletter-touch">-->

			<!--<div class="item-title text-center animated-quick">-->
				<!-- -->
				<!--<h1 class="newsletter-title">Newsletter</h1>-->

				<!--<p>Enter your mail to Get notified</p>-->

				<!--&lt;!&ndash; OPEN - Newsletter part &ndash;&gt;-->
				<!--<div id="subscribe">-->

	                <!--&lt;!&ndash; OPEN - Newsletter form &ndash;&gt;-->
	                <!--<form action="php/notify-me.php" id="notifyMe" method="POST">-->

	                    <!--<div class="form-group">-->

	                        <!--<div class="controls">-->
	                            <!-- -->
	                        	<!--&lt;!&ndash; Field  &ndash;&gt;-->
	                        	<!--<input type="text" id="mail-sub" name="email" placeholder="Write your email here" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Write your email here'" class="form-control email srequiredField" />-->

	                        	<!--<i class="fa fa-spinner opacity-0"></i>-->

	                            <!--&lt;!&ndash; Button  &ndash;&gt;-->
	                            <!--<button class="btn btn-lg submit">Notify Me</button>-->

	                            <!--<div class="clear"></div>-->

	                        <!--</div>-->

	                    <!--</div>-->

	                <!--</form> &lt;!&ndash; CLOSE - Newsletter form &ndash;&gt;-->

					<!--&lt;!&ndash; OPEN - Newsletter message &ndash;&gt;-->
					<!--<div class="block-message">-->

						<!--<div class="message">-->

							<!--<p class="notify-valid"></p>-->

						<!--</div>-->

					<!--</div> &lt;!&ndash; CLOSE - Newsletter message &ndash;&gt;-->

        		<!--</div> &lt;!&ndash; CLOSE - Newsletter part &ndash;&gt;-->

			<!--</div>-->

		<!--</section> &lt;!&ndash; CLOSE #newsletter-part &ndash;&gt;-->

		<!-- Language selection -->
		<p class="lang">
			<a href="" class="active">EN</a><span> | </span>
			<a href="">DE</a>
		</p>

		<!-- Copyright -->
		<p class="copyright">©KARRY WELL 2015</p>


	<!-- ///////////////////\\\\\\\\\\\\\\\\\\\ -->
    <!-- ********** Resources jQuery ********** -->
    <!-- \\\\\\\\\\\\\\\\\\\/////////////////// -->
	
	<!-- * Libraries jQuery, Easing and Bootstrap - Be careful to not remove them * -->
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.easings.min.js"></script>
	<script src="js/bootstrap.min.js"></script>

	<!-- Google Maps API -->
	<script src="http://maps.google.com/maps/api/js?sensor=false"></script>

	<!-- Countdown plugin -->
	<script src="js/countdown.js"></script>

	<!-- Newsletter plugin -->
	<script src="js/notifyMe.js"></script>

	<!-- Contact form plugin -->
	<script src="js/contact-me.js"></script>

	<!-- Swipebox plugin -->
	<script src="js/jquery.swipebox.js"></script>

	<!-- Text rotator plugin -->
	<script src="js/animated-headlines.js"></script>

	<!-- Scroll plugin -->
	<script src="js/jquery.mousewheel.js"></script>

	<!-- YouTube plugin -->
	<script src="js/jquery.mb.YTPlayer.js"></script>

	<!-- Slideshow plugin -->
	<script src="js/vegas-youtube-mobile.js"></script>

	<!-- Custom Scrollbar plugin -->
	<script src="js/jquery.mCustomScrollbar.js"></script>

	<!-- Main JS File -->
	<script src="js/main.js"></script>
	
	<!--[if lt IE 10]><script type="text/javascript" src="js/placeholder.js"></script><![endif]-->
	
	<script>			
		$(window).on('hashchange', function() {
			if (window.location.href.indexOf('#') > 0) window.location = '/';
		});	
		if (window.location.href.indexOf('#') > 0) window.location = '/';	
	</script>
	</body>

</html>