<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>3S - Shipper</title>

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/assets/ico/favicon.ico">

    <!-- CSS Stylesheet-->
    <link type="text/css" rel="stylesheet" href="/assets/css/bootstrap/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/assets/css/bootstrap/bootstrap-themes.css" />
    <link type="text/css" rel="stylesheet" href="/assets/css/style.css" />

    <!-- Styleswitch if  you don't chang theme , you can delete -->
    <!--<link type="text/css" rel="alternate stylesheet" media="screen" title="style1" href="/assets/css/styleTheme1.css" />-->
    <!--<link type="text/css" rel="alternate stylesheet" media="screen" title="style2" href="/assets/css/styleTheme2.css" />-->
    <!--<link type="text/css" rel="alternate stylesheet" media="screen" title="style3" href="/assets/css/styleTheme3.css" />-->
    <link type="text/css" rel="alternate stylesheet" media="screen" title="style4" href="/assets/css/styleTheme4.css" />

</head>

<body>

<div ui-view id="wrapper"></div>


<!-- Jquery Library -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.ui.min.js"></script>
<script src="/assets/plugins/bootstrap/bootstrap.min.js"></script>

<!-- Modernizr Library For HTML5 And CSS3 -->
<script src="/assets/js/modernizr/modernizr.js"></script>
<script src="/assets/plugins/mmenu/jquery.mmenu.js"></script>
<script src="/assets/js/styleswitch.js"></script>

<!-- Library 10+ Form plugins-->
<script src="/assets/plugins/form/form.js"></script>
<!-- Datetime plugins -->
<script src="/assets/plugins/datetime/datetime.js"></script>
<!-- Library Chart-->
<script src="/assets/plugins/chart/chart.js"></script>
<!-- Library  5+ plugins for bootstrap -->
<script src="/assets/plugins/pluginsForBS/pluginsForBS.js"></script>
<!-- Library 10+ miscellaneous plugins -->
<script src="/assets/plugins/miscellaneous/miscellaneous.js"></script>
<!-- Library Themes Customize-->
<script src="/assets/js/caplet.custom.js"></script>


<!--<script src="/libs/jquery/dist/jquery.min.js"></script>-->
<script src="/libs/angular/angular.min.js"></script>
<script src="/libs/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/libs/angular-material-icons/angular-material-icons.min.js"></script>


<script src="/app.js"></script>

<script src="/components/store/store.controller.js"></script>
<script src="/components/store/store.directive.js"></script>

<script src="/components/storeDashboard/storeDashboard.controller.js"></script>
<script src="/components/storeDashboard/storeDashboard.directive.js"></script>

<script src="/components/storeOrder/storeOrder.controller.js"></script>
<script src="/components/storeOrder/storeOrder.directive.js"></script>

</body>
</html>
