<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>Karry Well</title>

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/assets/ico/favicon.ico">


    <!-- CSS Stylesheet-->
    <link type="text/css" rel="stylesheet" href="/assets/css/bootstrap/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/assets/css/bootstrap/bootstrap-themes.css" />
    <link type="text/css" rel="stylesheet" href="/assets/css/style.css" />
    <link type="text/css" rel="stylesheet" href="/assets/css/karrywell.css" />
    <link type="text/css" rel="stylesheet" href="/assets/css/store.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

</head>

<body ng-class="styleBody">

<div ui-view id="wrapper"></div>

<!-- Jquery Library -->
<script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.ui.min.js"></script>
<script src="/assets/plugins/bootstrap/bootstrap.min.js"></script>

<!-- Modernizr Library For HTML5 And CSS3 -->
<script src="/assets/js/modernizr/modernizr.js"></script>
<script src="/assets/plugins/mmenu/jquery.mmenu.js"></script>
<script src="/assets/js/styleswitch.js"></script>


<!-- Library 10+ Form plugins-->
<script src="/assets/plugins/form/form.js"></script>
<script src="/assets/js/moment.min.js"></script>
<!-- Datetime plugins -->
<script src="/assets/plugins/datetime/datetime.js"></script>
<!-- Library Chart-->
<!-- Include Date Range Picker -->

<script src="/assets/plugins/chart/chart.js"></script>
<!-- Library  5+ plugins for bootstrap -->
<script src="/assets/plugins/pluginsForBS/pluginsForBS.js"></script>
<!-- Library 10+ miscellaneous plugins -->
<script src="/assets/plugins/miscellaneous/miscellaneous.js"></script>
<!-- Library Themes Customize-->

<script src="/assets/js/caplet.custom.js"></script>


<!-- Karry plugins -->
<script src="/assets/js/lodash.min.js"></script>
<!--<script src="/libs/socket.io-client/lib/socket.js"></script>-->
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>



<!--<script src="/libs/jquery/dist/jquery.min.js"></script>-->
<script src="/libs/angular/angular.min.js"></script>
<script src="/libs/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/libs/angular-material-icons/angular-material-icons.min.js"></script>
<script src="/libs/angular-jwt/dist/angular-jwt.min.js"></script>
<script src="/libs/angular-simple-logger/dist/angular-simple-logger.min.js"></script>
<script src="/libs/angular-google-maps/dist/angular-google-maps.min.js"></script>
<script src="/libs/angular-smart-table/dist/smart-table.min.js"></script>

<script src="/app.js"></script>
<!--<script src="/service/dataService.js"></script>-->

<script src="/components/common/auth.service.js"></script>
<script src="/components/common/data.service.js"></script>
<script src="/components/common/socket.service.js"></script>
<script src="/components/common/socketStore.service.js"></script>
<script src="/components/common/socketAdmin.service.js"></script>
<script src="/components/common/socketShipper.service.js"></script>
<script src="/components/common/map.service.js"></script>

<script src="/components/login/login.controller.js"></script>
<script src="/components/login/login.directive.js"></script>

<script src="/components/404/error.directive.js"></script>

<script src="/components/admin/admin.controller.js"></script>
<script src="/components/admin/admin.directive.js"></script>

<script src="/components/map/map.controller.js"></script>
<script src="/components/map/map.directive.js"></script>

<script src="/components/adminStoreList/adminStoreList.controller.js"></script>
<script src="/components/adminStoreList/adminStoreList.directive.js"></script>

<script src="/components/adminAssignTask/adminAssignTask.controller.js"></script>
<script src="/components/adminAssignTask/adminAssignTask.directive.js"></script>

<script src="/components/adminTransactionHistory/adminTransactionHistory.controller.js"></script>
<script src="/components/adminTransactionHistory/adminTransactionHistory.directive.js"></script>

<script src="/components/adminTaskList/adminTaskList.controller.js"></script>
<script src="/components/adminTaskList/adminTaskList.directive.js"></script>

<script src="/components/adminIssueBox/adminIssueBox.controller.js"></script>
<script src="/components/adminIssueBox/adminIssueBox.directive.js"></script>

<script src="/components/adminIssueBox/issueContent/issueContent.controller.js"></script>
<script src="/components/adminIssueBox/issueContent/issueContent.directive.js"></script>

<script src="/components/store/store.controller.js"></script>
<script src="/components/store/store.directive.js"></script>

<script src="/components/storeDashboard/storeDashboard.controller.js"></script>
<script src="/components/storeDashboard/storeDashboard.directive.js"></script>

<script src="/components/storeOrder/storeOrder.controller.js"></script>
<script src="/components/storeOrder/storeOrder.directive.js"></script>

</body>
</html>
