<div layout="column" layout-fill >

    <!--<md-toolbar layout="row"></md-toolbar>-->
    <!--<div layout="row" layout-align="center center" id="loginForm">-->
        <!--<md-card flex="33">-->

            <!--<md-card-content>-->
                <!--<form name="loginForm">-->
                    <!--<md-input-container>-->
                        <!--<label>Username</label>-->
                        <!--<input  required name="clientUserName">-->

                    <!--</md-input-container>-->
                    <!--<md-input-container>-->
                        <!--<label>Password</label>-->
                        <!--<input  required name="clientUserName">-->

                    <!--</md-input-container>-->
                    <!--<md-input-container>-->
                        <!--<md-button class="md-raised"> Sign In </md-button>-->
                    <!--</md-input-container>-->
                <!--</form>-->
            <!--</md-card-content>-->
        <!--</md-card>-->
        <!--<alert type="danger">xxx</alert>-->

        <!--&lt;!&ndash;<div class="md-whiteframe-z2" layout layout-align="center center">&ndash;&gt;-->
            <!--&lt;!&ndash;<md-content layout-padding>&ndash;&gt;-->

            <!--&lt;!&ndash;</md-content>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->
</div>