/* Empty. Add your own CSS if you like */



/*START Common*/
i {
  font-size: 20px;
}
/*waitting status*/
.statusWt {
  background-color: #777777;
}
/*done status: Done, Picking, Bring to stock and Delivering*/
.statusDn {
  background-color: #5cb85c
}
/*pending status: Returning to stock, store*/
.statusPd {
  background-color: #f0ad4e
}
.label {
  display: inline;
  padding: .1em .6em .1em;
  font-size: 75%;
  font-weight: 500;
  line-height: 1;
  color: #fff !important;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.btCommon {
  border-color: #3F51B5;
  background-color: #3F51B5;
  color: #fff;
}

.button.btCommon:hover {
  color: #fff;
  text-decoration: none;
}
.button.btCommon:active, .button.btCommon.activated  {
  border-color: #35479E;
  background-color: #35479E;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
}
.loading-container .loading {
  background-color: rgba(0, 0, 0, 0); !important;
}
a {
 text-decoration: none;
}
/*TODO* Fix not apear text of type off task*/
a > .icon {
  display: inline-block !important;
}

/*END Common*/

/*---START Task & History---*/
.titleContent {
  position: relative;
  width: 450px;
  min-height: 110px;
}

.titleContent div:first-child {
  position: absolute;
  left: 0;
  top: 15px;
}

.titleContent div:first-child > img {

  padding: 0 5px;
  width: 70px;
  min-height: 50px;
}

.titleContent div:nth-child(2) {
  position: absolute;
  margin-left: 100px;
}

.titleContent div:nth-child(2) > h2 {
  font-weight: bold;
  color: #9B9B9B;
  font-size: 1.2em;
}

/*Side left - Header bar && nav bar*/
.clBar {
  background-color: #3F51B5;
  border-color: #3F51B5 ;
  color: #fff;
}
.clBar > h1:first-child {
  color: #fff;
}

.item > .input-label {
  font-weight: bold;
}

.item > textarea {
  height: 100px;
  width: 100%;
  margin-top: 12px;
}

div.fixed {
  position: fixed;
  bottom: 60px;
  right: 5px;
  /*width: 300px;*/
  /*border: 3px solid #8AC007;*/
}
/*button find best way*/
.btn-cus {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn-primary-cus {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-primary-cus:hover {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}
.btn-circle-cus {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 5px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 30px;
}
.btn-circle-cus.btn-xl-cus {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 50px;
}

.history-fail {
  background-color: #ef473a;
}

.history-done {
  background-color: #33cd5f;
}
/* ---END StyleSheet of Task & History---*/

/*---START StyleSheet of Profile---*/
#content {
  position: relative;
  margin-top: 100px;
  background-color: white;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
  padding-top: 200px;
}

#profile-info {
  position: absolute;
  top: -95px;
  width: 100%;
  z-index: 2;
  text-align: center;
}

#profile-name {
  color: #444;
  font-size: 26px;
}

#profile-image {
  display: block;
  border-radius: 100px;
  border: 1px solid #fff;
  width: 128px;
  height: 128px;
  margin: 30px auto 0;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
}

#listProfile > div > p {
  font-size: 1.2em;
}

/*---END StyleSheet of Profile---*/

/*--START StyleSheet For Order's Detail--*/
#map {
  width: 100%;
  height: 300px;
  margin: auto;
  box-shadow: 0 0 5px black;
}

.checkout-wrap {
  color: #444;
  margin: 2% 0 5% 0;
  position: relative;
}

ul.checkout-bar {
  margin: 0 20px;
}
ul.checkout-bar li {
  color: #ccc;
  display: block;
  font-size: 13px;
  padding: 14px 20px 14px 80px;
  position: relative;
}
ul.checkout-bar li:before {
  background: #ddd;
  border: 2px solid #FFF;
  border-radius: 50%;
  color: #fff;
  font-size: 16px;
  left: 20px;
  line-height: 37px;
  height: 35px;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  top: 4px;
  width: 35px;
  z-index: 999;
}
ul.checkout-bar li.active {
  color: #8bc53f;
  font-weight: bold;
}
ul.checkout-bar li.active:before {
  background: #8bc53f;
  z-index: 99999;
}
ul.checkout-bar li.visited {
  background: #ECECEC;
  color: #57aed1;
  z-index: 99999;
}
ul.checkout-bar li.visited:before {
  background: #57aed1;
  z-index: 99999;
}
ul.checkout-bar li:nth-child(1):before {
  content: "";
}
ul.checkout-bar li:nth-child(2):before {
  content: "";
}
ul.checkout-bar li:nth-child(3):before {
  content: "";
}
ul.checkout-bar li:nth-child(4):before {
  content: "";
}
ul.checkout-bar li:nth-child(5):before {
  content: "";
}
ul.checkout-bar li:nth-child(6):before {
  content: "";
}
ul.checkout-bar li:nth-child(7):before {
  content: "";
}
ul.checkout-bar li:nth-child(8):before {
  content: "1";
}
ul.checkout-bar a {
  color: #57aed1;
  font-size: 13px;
}

@media all and (min-width: 300px) {
  .checkout-bar li.active:after {
    background-color: #8bc53f;
    content: "";
    height: 15px;
    width: 100%;
    left: 50%;
    position: absolute;
    top: -50px;
    z-index: 0;
  }

  .checkout-wrap {
    margin: 2% 0 9% 0;
  }

  ul.checkout-bar {
    background-color: #EcEcEc;
    border-radius: 15px;
    height: 15px;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    width: 100%;
  }
  ul.checkout-bar:before {
    background-color: #57aed1;
    border-radius: 15px;
    content: " ";
    height: 15px;
    left: 0;
    position: absolute;
    width: 10%;
  }
  ul.checkout-bar li {
    display: inline-block;
    margin: 50px 0 0;
    padding: 0;
    text-align: center;
    width: 22%;
  }
  ul.checkout-bar li:before {
    height: 30px;
    left: 40%;
    line-height: 45px;
    position: absolute;
    top: -60px;
    width: 30px;
    z-index: 99;
  }
  ul.checkout-bar li.visited {
    background: none;
  }
  ul.checkout-bar li.visited:after {
    background-color: #57aed1;
    content: "";
    height: 15px;
    left: 50%;
    position: absolute;
    top: -50px;
    width: 100%;
    z-index: 99;
  }
}

.btn-default-cus{
  line-height: 42px !important;
  font-weight: bold;
  font-size: 1.2em
}
.btn-success-cus {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
  /*font-weight: bold;*/
  font-size: 1.2em;
  line-height: 42px !important;
}
.btn-success-cus:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #419641;
}
.popup {
  border-radius: 10px !important;
}
.popup > .popup-head > .popup-title {
  font-size: 1.2em !important;
  font-weight: bold !important;
}
.popup-buttons > button {
  background-color: #5cb85c !important;
  border-color: #5cb85c !important;
}

div.fixed-button {
  position: fixed;
  bottom: 60px;
  right: 10px;
  /*width: 300px;*/
  /*border: 3px solid #8AC007;*/
}

.detail-p {
  margin-top: 0px !important;
}
/*--END StyleSheet For Order's Detail--*/

/*START fancy-select*/
fancy-select .list {
  margin: -1px 0; }

/* Items */
/* line 13, ../scss/modules/_fancy-select.scss */
.fancy-select-items {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%; }
/* line 19, ../scss/modules/_fancy-select.scss */
.fancy-select-items .item {
  overflow: hidden;
  /* Clearfix */ }

/* line 24, ../scss/modules/_fancy-select.scss */
.fancy-select-items label p {
  height: 32px;
  line-height: 32px; }

/* line 29, ../scss/modules/_fancy-select.scss */
.fancy-select-icon {
  float: left;
  margin-right: 10px;
  width: 30px;
  text-align: center; }

/*END fancy-select*/


/*START GOOGLE MAP */
#map_canvas {
  width: 100%;
  height: 90%;
  margin: 0;
  position: relative;
}

.scroll {
  height: 100%;
}

.angular-google-map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

/*END GOOGLE MAP */
