



<div>    
	<!--<h4 style="margin-bottom: 10px"><em>{{ totalNotifications }}</em> notifications</h4>-->
	<div class="widget-im notification">
			<ul>								
					<li ng-repeat="notification in listNotifications">					
						<a ng-href="{{ notification.url }}">
						<div ng-include src="notification.type" ng-class="{'text-primary': !notification.isread}" ng-click="readNotification($index)"></div>
						</a>
					</li>								
			</ul>
	</div>
	<div class="panel-body align-lg-center">
	
			<ul class="pagination">
					<li ng-click="goLeft()"><a><i class="fa fa-angle-left"></i></a></li>
					<li ng-repeat="e in pageNumbers track by $index" ng-class="{'active': e.value}" ng-click="selectPage($index)"><a>{{ $index + 1 }}</a></li>
					<li ng-click="goRight()"><a><i class="fa fa-angle-right"></i></a></li>
			</ul>			
	</div>	
	<!-- //modal-body-->	

	
	<script type="text/ng-template" id="info">
		<section class="thumbnail-in" ng-class="{'bg-info': !notification.isread}">
				<div class="widget-im-tools tooltip-area pull-right">
						<span>
								<time class="timeago" datetime="{{notification.createddate}}">{{ passedTime(notification.createddate) }} ago</time>
						</span>						
				</div>
				<div class="im-thumbnail bg-theme"><i class="fa fa-bell-o"></i></div>

				<h4 class="list-group-item-heading"><strong>{{ notification.title }}</strong></h4>				
				<div class="list-group-item-text">{{ notification.content }}</div>
		</section>		
	</script>

	
	<script type="text/ng-template" id="issue">		
		<section class="thumbnail-in" ng-class="{'bg-info': !notification.isread}">			
				<div class="widget-im-tools tooltip-area pull-right">
						<span>
								<time class="timeago" datetime="{{notification.createddate}}">{{ passedTime(notification.createddate) }} ago</time>
						</span>
						
				</div>
				<div class="im-thumbnail bg-warning"><i class="fa fa-exclamation-triangle"></i></div>				
				<h4 class="list-group-item-heading"><strong>{{ notification.title }}</strong>
				</h4>				
				<div class="list-group-item-text">{{ notification.content }}</div>
		</section>
	</script>
</div>

