<div>
    <ol class="breadcrumb">
        <!-- <li><a href="#">Home</a></li> -->
        <li class="active">Create Order</li>
    </ol>
    <!-- //breadcrumb-->

    <div id="content">

        <div class="row">

            <div class="col-lg-8">
                <h1><strong>Create</strong> Order</h1>
                <br>

                <form id="validate-wizard" class="wizard-step">
                    <ul>
                        <li><a href="#step1" data-toggle="tab">1</a></li>
                        <li><a href="#step2" data-toggle="tab">2</a></li>
                        <li><a href="#step3" data-toggle="tab">3</a></li>
                        <li><a href="#step4" data-toggle="tab">4</a></li>
                    </ul>
                    <div class="progress progress-stripes progress-sm" style="margin:0">
                        <div class="progress-bar" data-color="theme"></div>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade" id="step1" parsley-validate parsley-bind>
                            <h3>Delivery information</h3><hr>

                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label class="control-label">Full name</label>
                                    <input type="text" name="fullname" ng-model="order.recipientname"
                                           class="form-control"
                                           placeholder="Your customer name" parsley-required="true">
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label">Phone</label>
                                    <input ng-model="order.recipientphone" type="text" class="form-control"
                                           parsley-type="phone"  parsley-required="true"
                                           placeholder="(XXX) XXXX XXX">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-4">
                                    <label class="control-label">Province</label>
                                    <select parsley-required="true" class="form-control"
                                            ng-options="x.name for x in listProvince track by x.provinceid"
                                            ng-model="selectedProvince" ng-change="updateDistrict()">

                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">District</label>
                                    <select parsley-required="true" class="form-control"
                                            ng-options="x.name for x in listDistrict track by x.districtid"
                                            ng-model="selectedDistrict" ng-change="updateWard()"
                                            >
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">Ward</label>
                                    <select parsley-required="true" class="form-control"
                                            ng-options="x.name for x in listWard track by x.wardid"
                                            ng-model="selectedWard" ng-change="updateDeliveryAdd()">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Address</label>
                                    <textarea ng-model="houseNumber" class="form-control"
                                              parsley-trigger="keyup" rows="1"
                                              placeholder="Number Street (Eg: 40 Duy Tân)" ng-change="updateDeliveryAdd()" required></textarea>
                            </div>
                            <hr>
                            <footer class="row">
                                <div class="col-sm-5">
                                    <section class="wizard">
                                        <button type="button" class="btn btn-inverse previous"><i
                                                class="fa fa-angle-left"></i> Previous
                                        </button>
                                        <button type="button" class="btn btn-theme next">Next <i
                                                class="fa fa-angle-right"></i></button>
                                    </section>
                                </div>
                                <div class="col-sm-7 align-lg-right">
                                    <div class="wizard-status">Wizard step : <span></span></div>
                                </div>
                            </footer>

                        </div>
                        <div class="tab-pane fade" id="step2" parsley-validate parsley-bind>
                            <h3>Order information</h3> <hr>
                            <div>
                                <section class = "panel">
                                    <label  class="fullWidth color"><strong>List goods</strong></label>
                                    <div>
                                        <table class="table table-hover table-bordered">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Name</th>
                                                <th>Amount</th>
                                                <th>Weight</th>
                                                <th>Length</th>
                                                <th>Width</th>
                                                <th>Height</th>
                                                <th>Description</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody align="center">
                                            <tr ng-repeat="x in goods">
                                                <td>{{$index+1}}</td>
                                                <td>{{x.goodsname}}</td>
                                                <td>{{x.amount}}</td>
                                                <td>{{x.weight}}</td>
                                                <td>{{x.lengthsize}}</td>
                                                <td>{{x.widthsize}}</td>
                                                <td>{{x.heightsize}}</td>
                                                <td>{{x.description}}</td>
                                                <td width="15%"><span class=" tooltip-area">
                                                    <a ng-click="setGood(x,$index)"  class="btn btn-default btn-sm" data-toggle="modal" data-target="#md-edit-good"
                                                       title="Edit"><i class="fa fa-edit (alias)"></i></a>
                                                    <a ng-click="setGood(x,$index)" data-toggle="modal" data-target="#md-delete-goods" class="btn btn-default btn-sm"
                                                       title="Delete"><i class="fa fa-times"></i></a>
                                                    </span></td>

                                            </tr>
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <td colspan="10" class="text-left">
                                                    <div  class="col-sm-12 col-lg-12 btn-group btn-group-xs color">
                                                        <button type="button" ng-click="refreshGood()" class=" btn btn-block buttonAdd " data-toggle="modal" data-target="#md-add-good"><i class="fa fa-plus"></i></button>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </section>
                            </div>
                            <label  class="fullWidth color"><strong>Delivery type</strong></label>
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <div   data-color="red">
                                        <input  ng-model="order.ordertypeid" ng-change="updateFee()" type="radio" name="ordertype" value="2" />
                                        <label>Express</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div  data-color="red">
                                        <input ng-model="order.ordertypeid" ng-change="updateFee()" type="radio" name="ordertype" value="1" />
                                        <label>Normal</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12" >
                                    <label class="fullWidth color"><strong>Cash on delivery</strong></label>
                                </div>
                                <div class="col-md-6">
                                    <input ng-model="order.cod" type="text" class="form-control"
                                           parsley-type="number"
                                           parsley-min="0" parsley-max="10000000"
                                           placeholder="Unit: Vietnam dong">
                                </div>
                            </div>
                            <hr>
                            <footer class="row">
                                <div class="col-sm-5">
                                    <section class="wizard">
                                        <button type="button" class="btn btn-inverse previous"><i
                                                class="fa fa-angle-left"></i> Previous
                                        </button>
                                        <button type="button" class="btn btn-theme next">Next <i
                                                class="fa fa-angle-right"></i></button>
                                    </section>
                                </div>
                                <div class="col-sm-7 align-lg-right">
                                    <div class="wizard-status">Wizard step : <span></span></div>
                                </div>
                            </footer>
                        </div>
                        <div class="tab-pane fade" id="step3" parsley-validate parsley-bind>
                            <h3>Pickup information</h3><hr>

                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label class="control-label">Store</label>
                                    <select parsley-required="true" class="form-control"
                                            ng-options="x.name for x in stores track by x.storeid"
                                            ng-model="selectedStore">

                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label">Phone</label>
                                    <input ng-model="selectedStore.phonenumber" type="text"  class="form-control"
                                           parsley-type="phone" parsley-required="true"
                                           placeholder="Your store phone munber" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Address</label>
                                    <textarea ng-model="selectedStore.address" class="form-control"
                                              parsley-trigger="keyup" rows="1"
                                              placeholder="Enter customer address" disabled></textarea>
                            </div>
                            <hr>
                            <footer class="row">
                                <div class="col-sm-7">
                                    <section class="wizard">
                                        <button type="button" class="btn btn-inverse previous"><i
                                                class="fa fa-angle-left"></i> Previous
                                        </button>
                                        <button type="submit" class="btn btn-theme next">Submit <i class="fa fa-angle-right"></i></button>

                                    </section>
                                </div>
                                <div class="col-sm-5 align-lg-right">
                                    <div class="wizard-status">Wizard step : <span></span></div>
                                </div>
                            </footer>
                        </div>

                        <div class="tab-pane fade" id="step4">
                            <h3 class="center">Thank You for order</h3><br>
                        </div>

                    </div>
                </form>
            </div>
            <!--
            ////////////////////////////////////////////////////////////////////////////
            //////////     MODAL ADD GOODS   //////////
            /////////////////////////////////////////////////////////////////////////
            -->
            <div id="md-add-good" class="modal fade" data-header-color="#736086">
                <div class="modal-header bg-inverse bd-inverse-darken">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i
                            class="fa fa-times"></i></button>
                    <h4 class="modal-title">Add a good to order</h4>
                </div>
                <!-- //modal-header-->
                <form id = "addGoodModal" data-parsley-validate>
                    <div class="modal-body">
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label class="control-label">Goods</label>
                                <input type="text" class="form-control"
                                       parsley-required="true"
                                       placeholder="Good name" ng-model="good.goodsname">
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Amount</label>
                                <input type="text" class="form-control " parsley-min="0" parsley-max="10"  placeholder="0" ng-model="good.amount" data-parsley-type="number" parsley-required="true">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label class="control-label">Weight</label>
                                <input type="text" class="form-control"
                                       parsley-min="0" parsley-max="5000"
                                       placeholder="Gram" ng-model="good.weight" data-parsley-type="number" parsley-required="true">
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Length</label>
                                <input type="text" class="form-control"
                                       parsley-min="0" parsley-max="500"
                                       placeholder="mm" ng-model="good.lengthsize" data-parsley-type="number" parsley-required="true">
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Width</label>
                                <input type="text" class="form-control"
                                       parsley-min="0" arsley-max="500"
                                       placeholder="mm" ng-model="good.widthsize" data-parsley-type="number" parsley-required="true">
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">High</label>
                                <input type="text" class="form-control"
                                       parsley-min="0" arsley-max="500"
                                       placeholder="mm" ng-model="good.heightsize" data-parsley-type="number" parsley-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Good description</label>
                            <input type="text" class="form-control" ng-model="good.description">
                        </div>
                    </div>
                    <!-- //modal-body-->
                    <div class="modal-footer">
                        <button type="submit"class="btn btn-theme">Add</button>
                        <button type="button" data-dismiss="modal" class="btn btn-inverse">Close</button>
                    </div>
                </form>
                <!-- //modal-footer-->
            </div>
            <!-- //modal-->
            <!--
           ////////////////////////////////////////////////////////////////////////////
           //////////     MODAL EDIT GOODS   //////////
           /////////////////////////////////////////////////////////////////////////
           -->
            <div id="md-edit-good" class="modal fade" data-header-color="#736086">
                <div class="modal-header bg-inverse bd-inverse-darken">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i
                            class="fa fa-times"></i></button>
                    <h4 class="modal-title">Edit good</h4>
                </div>
                <!-- //modal-header-->
                <form id = "editGoodModal" data-parsley-validate>
                    <div class="modal-body">
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label class="control-label">Goods</label>
                                <input type="text" class="form-control"
                                       parsley-required="true"
                                       placeholder="Good name" ng-init="na = good.goodsname" ng-model="newGood.goodsname">
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Amount</label>
                                <input type="text" class="form-control " parsley-min="0" parsley-max="10"  placeholder="0" ng-model="newGood.amount" data-parsley-type="number" parsley-required="true">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label class="control-label">Weight</label>
                                <input type="text" class="form-control"
                                       parsley-min="0" parsley-max="5000"
                                       placeholder="Gram" ng-model="newGood.weight" data-parsley-type="number" parsley-required="true">
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Length</label>
                                <input type="text" class="form-control"
                                       parsley-min="0" parsley-max="500"
                                       placeholder="mm" ng-model="newGood.lengthsize" data-parsley-type="number" parsley-required="true">
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Width</label>
                                <input type="text" class="form-control"
                                       parsley-min="0" arsley-max="500"
                                       placeholder="mm" ng-model="newGood.widthsize" data-parsley-type="number" parsley-required="true">
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">High</label>
                                <input type="text" class="form-control"
                                       parsley-min="0" arsley-max="500"
                                       placeholder="mm" ng-model="newGood.heightsize" data-parsley-type="number" parsley-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Good description</label>
                            <input type="text" class="form-control" ng-model="newGood.description">
                        </div>
                    </div>
                    <!-- //modal-body-->
                    <div class="modal-footer">
                        <button type="submit"  class="btn btn-theme">Save</button>
                        <button type="button"  data-dismiss="modal" class="btn btn-inverse">Close</button>
                    </div>
                </form>
                <!-- //modal-footer-->
            </div>
            <!-- //modal-->

            <!--
            ////////////////////////////////////////////////////////////////////////////
            //////////     MODAL CONFIRM DELETE GOOD   //////////
            /////////////////////////////////////////////////////////////////////////
            -->
            <div id="md-delete-goods" class="modal fade" data-header-color="#736086">
                <div class="modal-header bg-inverse bd-inverse-darken">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i
                            class="fa fa-times"></i></button>
                    <h4 class="modal-title"><strong>Delete </strong> goods</h4>
                </div>
                <!-- //modal-header-->
                <div class="modal-body">
                    <h4>Do you want to delete goods: {{newGood.goodsname}}</h4>
                </div>
                <!-- //modal-body-->
                <div class="modal-footer">
                    <button type="button" ng-click="deleteGood()" data-dismiss="modal" class="btn btn-theme">Yes</button>
                    <button type="button"  data-dismiss="modal" class="btn btn-inverse">No</button>
                </div>

                <!-- //modal-footer-->
            </div>
            <!-- //modal-->


            <!--///////////////////////////////////////////////////////
              /////////////////////   Empty good   /////////////////
             ///////////////////////////////////////////////////////////
            -->
            <textarea class="form-control theme" id="smsEmptyGood" rows="5" style="display:none">
              You must add at least 1 good to order!
             </textarea>


            <!--/////////////////////////////////////
               //////     Addition Information  ////
               ////////////////////////////////////-->
            <div class="column col-lg-4">
                <div class=""><br><br><br>

                    <div class="panel corner-flip">
                        <div class="panel-heading bg-lightseagreen"><h3><strong>Order </strong> Information </h3></div>
                        <div class="panel-body">
                            <label  class="fullWidth color"><strong>Confirm Code</strong></label>
                            <div class="form-group">
                                <label class="control-label col-md-7 align-lg-left">Code for cusotmer:</label>
                                <label  class="control-label col-md-5 align-lg-right">{{order.deliverCode}}</label>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-7 align-lg-left">Code for shipper:</label>
                                <label  class="control-label col-md-5 align-lg-right">{{order.gatheringCode}}</label>
                            </div>


                            <label  class="fullWidth color"><strong>Delivery Information</strong></label>
                            <div class="form-group">                                
                                <label  class="control-label col-md-7 align-lg-left"><i class="fa fa-user"></i> {{order.recipientname}}</label>
                                <label  class="control-label col-md-5 align-lg-right"><i class="fa fa-phone"></i> {{order.recipientphone}}</label> 
                                 <label  class="control-label col-md-12"><i class="fa fa-home"></i> {{order.deliveryaddress}}</label>
                            </div>   


                            <label  class="fullWidth color"><strong>Pickup Information</strong></label>
                            <div class="form-group">                                
                                <label  class="control-label col-md-7 align-lg-left"><i class="fa fa-user"></i> {{selectedStore.name}}</label>
                                <label  class="control-label col-md-5 align-lg-right"><i class="fa fa-phone"></i> {{order.pickupphone}}</label> 
                                 <label  class="control-label col-md-12"><i class="fa fa-home"></i> {{order.pickupaddress}}</label>
                            </div> 


                           <label  class="fullWidth color"><strong>Other Information</strong></label>
                            <div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-7 align-lg-left">Cash on delivery:</label>
                                <label  class="control-label col-md-5 align-lg-right">{{order.cod|number}} VND</label>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-7 align-lg-left">Over weight fee:</label>
                                <label class="control-label col-md-5 align-lg-right">{{order.overWeightFee|number}} VND</label>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-7 align-lg-left">Ship fee:</label>
                                <label class="control-label col-md-5 align-lg-right">{{order.fee|number}} VND</label>
                            </div>  
                        </div>
                        <div class="panel-footer">
                            <div class="form-group">
                                <label class="control-label col-md-4 align-lg-left"><h5><strong>Total fee:</strong></h5></label>
                                <label class="control-label col-md-8 align-lg-right"><h5><strong>{{order.overWeightFee-0 + order.fee-0| number}} VND</strong></h5> </label>
                            </div>
                        </div>
                    </div>
                </div>
                <!--///Addition Information //////-->


            </div>
            <!-- //content > row-->

        </div>
        <!-- //content-->


    </div>
    <!-- //main-->
</div>
<div id="listAcceptedShipper_Fail" class="modal fade md-slideRight" tabindex="-1"  data-width="500" data-header-color="theme-inverse">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
        <h4 class="modal-title">Not find a shipper</h4>
    </div>
    <!-- //modal-header-->
    <div class="modal-body left">
        <div class="row">
            <div class="col-md-3" >
                <img alt="" ng-src="{{rightShipper.avatar}}" class="circle" style="width: 100px">
            </div>
            <div class="col-md-9" style="margin-top: 20px">
                <h4><strong>Sorry!</strong> Now all shippers are busy</h4>
                <br>
                <h5>Please try again later!</h5>
            </div>
        </div>
    </div>
    <!-- //modal-body-->
</div>
<div id="listAcceptedShipper" class="modal fade md-slideRight" tabindex="-1"  data-width="500" data-header-color="theme-inverse">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
        <h4 class="modal-title">Yeah! Finded a shipper</h4>
    </div>
    <!-- //modal-header-->
    <div class="modal-body left">
        <div class="row">
            <div class="col-md-3" >
                <img alt="" ng-src="{{rightShipper.avatar}}" class="circle" style="width: 100px">
            </div>
            <div class="col-md-9">
                <h3><strong>Hi</strong>, I'm {{rightShipper.fullName}}</h3>
                <br>
                <div class="row">
                    <label class="col-md-3">
                        <i class="fa fa-caret-right"></i>ShipperID
                    </label>
                    <div class="col-md-9">
                        <strong>{{rightShipper.shipperID}}</strong>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-3">
                        <i class="fa fa-caret-right"></i>Phone
                    </label>
                    <div class="col-md-9">
                        <strong>{{rightShipper.phonenumber}}</strong>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-3">
                        <i class="fa fa-caret-right"></i>Distance
                    </label>
                    <div class="col-md-9">
                        <strong>{{rightShipper.distanceText}}</strong>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-3">
                        <i class="fa fa-caret-right"></i>Duration
                    </label>
                    <div class="col-md-9">
                        <strong>{{rightShipper.durationText}}</strong>
                    </div>
                </div>
            </div>
            <hr>
            <div class="align-lg-right">
                <button class="btn btn-theme" ng-click="createExpressOrder()">Accept</button>
                <button class="btn btn-inverse" data-dismiss="modal" ng-click="createDraffOrder()">Cancel</button>
            </div>
        </div>
    </div>
    <!-- //modal-body-->
</div>
</body>
</html>
