<div id="wrapper" class="wrapper-shadow" style="background-color:#e5e9ec;">

    <canvas id="world"></canvas>
    <div class="real-boxs">
        <div class="real-search">
            <form>
                <div class="input-group">
                    <input type="text" class="form-control">
										<span class="input-group-btn">
												<button class="btn btn-theme" type="submit">SEARCH</button>
										</span>
                </div>
            </form>
        </div>
        <div class="row align-lg-center">
            <div class="col-md-12">
                <div class="error-template">
                    <h1> ERROR <strong>404</strong> – :) </h1>
                    <h2>Oops! That page can’t be found.</h2>
                    <div class="error-details"> Sorry, an error has occured, Requested page not found! </div>
                    <div class="error-actions">
                        <a href="#menu" class="btn btn-theme btn-lg"><span class="fa fa-bars"></span></a>
                        <a href="#" class="btn btn-theme-inverse btn-lg"><span class="fa fa-envelope-o"></span> Contact Support </a>
                    </div>
                    <div class="error-details"> Copyright &copy; 2013 Ziceinclude</div>
                </div>
            </div>
        </div>
    </div>
</div>