



<div>
	<div class="panel-body" style="padding-top:0">
		<textarea class="form-control" id="sms"  rows="5" style="display:none">			
				<h4>{{ notification.title }}</h4>				
				{{ notification.content }}							
		</textarea>										
												
		<button type="button" class="btn notific" data-theme="yellow" data-vertical="right" data-horizontal="bottom">info</button>
		<button type="button" class="btn notific" data-theme="red" data-vertical="right" data-horizontal="bottom">issue</button>		
	</div>
</div>

