<div>

    <div class="nav-collapse" style="margin-left: 0px;">

        <!--<ol class="breadcrumb">-->
            <!--<li><a href="#">Home</a></li>-->
            <!--<li><a href="#">Library</a></li>-->
            <!--<li class="active">Data</li>-->
        <!--</ol>-->
        <!-- //breadcrumb-->

        <!--
				/////////////////////////////////////////////////////////////////////////
				//////////     SLIDE LEFT MAIL BOX     //////////
				//////////////////////////////////////////////////////////////////////
				-->
        <div id="mailbox">

            <div id="nav-scroll">
                <div class="mail-list">
                    <header>
                        <h2 class="header-text">issue</h2>
                        <div class="mail-seach">
                            <input type="text" placeholder="Search Issue" ng-model="mailSearch" class="form-control" />
                        </div>
                        <div class="dropdown pull-right">
                            <button class="btn btn-theme dropdown-toggle" data-toggle="dropdown">
                                <i class="dropdown-icon fa fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu  pull-right">
                                <li><a href="" ng-click="customFilter.isresolved=true"> Resolved</a></li>
                                <li><a href="" ng-click="customFilter.isresolved=false"> Unresolved </a></li>
                                <li class="divider"></li>
                                <!--<li><a href="" ng-click="sortByDate()"> Sort by date</a></li>-->
                                <!--<li class="divider"></li>-->
                                <!--<li><a href="#"> Action </a></li>-->
                            </ul>
                            <!-- //dropdown-menu-->
                        </div>
                        <div class="btn-group " >
                            <!--<button type="button" class="btn btn-theme btn-transparent"><i class="fa fa-clock-o"></i></button>-->
                            <button type="button" class="btn btn-theme btn-transparent active" ng-click="customFilter.isresolved=''"><i class="fa fa-inbox"></i></button>
                            <!--<button type="button" class="btn btn-theme btn-transparent" ng-click="mailSearch.isresolved=true"><i class="fa fa-check"></i></button>-->
                        </div>
                    </header>

                    <ul class="mlist"  ng-repeat="issue in issueList| filter: mailSearch | filter: customFilter">
                        <li ui-sref-active="mail_active">
                            <a  ng-show="issue.isresolved" class="mail-favourite active"><i class=" glyphicon glyphicon-ok"></i></a>
                            <a  ng-show="!issue.isresolved" class="mail-favourite"><i class=" glyphicon glyphicon-ok"></i></a>
													<span>
                                                        <h5><a ng-show="!issue.isresolved" ui-sref="admin.issueBox.content({issueid: issue.issueid})">
                                                            <strong>{{issue.issuetype.typename}}</strong>
                                                        </a>
                                                            <a ng-show="issue.isresolved" ui-sref="admin.issueBox.content({issueid: issue.issueid})">
                                                            {{issue.issuetype.typename}}
                                                        </a>
                                                            <!--<p ng-show="issue.isresolved" class="label bg-danger" style="width: 35%; padding: inherit">Unresolved</p>-->
                                                            <!--<p ng-show="!issue.isresolved" class="label bg-success" style="width: 35%; padding: inherit">Resolved</p>-->
                                                        </h5>

														<p><strong>{{issue.issuetype.issuecategory.categoryname}}</strong>
                                                            {{issue.description}}</p>

														<p>{{issue.createddate | fromNow}}</p>
														<label data-color="warning"></label>
														<div class="mail-tools">
                                                            <!--<a href="#" title="reply"><i class="fa fa-reply"></i></a>-->
                                                            <!--<a href="#" title="move to trash"><i class="fa fa-trash-o"></i></a>-->
                                                        </div>
													</span>
                        </li>
                    </ul>
                    <footer>
                        <div class="pull-right">
                            <span class="mail-pagination"></span>
                            <ul class="pagination">
                                <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                            </ul>
                        </div>
                    </footer>
                </div>
            </div>
            <!-- //nav-scroller-->
        </div>
        <!-- //nav-->

        <div ui-view id="content"  class="after-mail-box"></div>


    </div>


</div>
