<div>

    <div class="nav-collapse" style="margin-left: 0px;">

        <!--<ol class="breadcrumb">-->
            <!--<li><a href="#">Home</a></li>-->
            <!--<li><a href="#">Library</a></li>-->
            <!--<li class="active">Data</li>-->
        <!--</ol>-->
        <!-- //breadcrumb-->

        <!--
				/////////////////////////////////////////////////////////////////////////
				//////////     SLIDE LEFT MAIL BOX     //////////
				//////////////////////////////////////////////////////////////////////
				-->
        <div id="mailbox">

            <div id="nav-scroll">
                <div class="mail-list">
                    <header>
                        <h2 class="header-text">issue</h2>
                        <div class="mail-seach">
                            <input type="text" placeholder="Search Issue" ng-model="mailSearch" class="form-control" />
                        </div>
                        <div class="dropdown pull-right">
                            <button class="btn btn-theme dropdown-toggle" data-toggle="dropdown">
                                <i class="dropdown-icon fa fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu  pull-right">
                                <li><a href="#"> Selete All</a></li>
                                <li><a href="#"> Unselete All </a></li>
                                <li class="divider"></li>
                                <li><a href="#"> Move to trash</a></li>
                                <li class="divider"></li>
                                <li><a href="#"> Action </a></li>
                            </ul>
                            <!-- //dropdown-menu-->
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-theme btn-transparent"><i class="fa fa-clock-o"></i></button>
                            <button type="button" class="btn btn-theme btn-transparent active"><i class="fa fa-inbox"></i></button>
                            <button type="button" class="btn btn-theme btn-transparent "><i class="fa fa-check"></i></button>
                        </div>

                    </header>

                    <ul class="mlist"  ng-repeat="issue in issueList| filter: mailSearch">
                        <li>
                           <a href="#" class="mail-favourite active"><i class=" glyphicon glyphicon-ok"></i></a>

													<span>
                                                        <h5><a href="#"><strong>{{issue.issuetype.typename}}</strong></a>
                                                            <p class="label bg-danger" style="width: 25%; padding: inherit">{{issue.isresolved}}</p>
                                                        </h5>

														<p><strong>{{issue.issuetype.issuecategory.categoryname}}</strong>
                                                            {{issue.description}}</p>

														<p>{{issue.createddate | fromNow}}</p>
														<label data-color="warning"></label>
														<div class="mail-tools">
                                                            <a href="#" title="reply"><i class="fa fa-reply"></i></a>
                                                            <a href="#" title="move to trash"><i class="fa fa-trash-o"></i></a>
                                                        </div>
													</span>
                        </li>
                    </ul>
                    <footer>
                        <div class="pull-right">
                            <span class="mail-pagination"></span>
                            <ul class="pagination">
                                <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                            </ul>
                        </div>
                    </footer>
                </div>
            </div>
            <!-- //nav-scroller-->
        </div>
        <!-- //nav-->

        <div ui-view id="content"  class="after-mail-box"></div>


    </div>

    <!--////////////////////////////////////////////////////////////////////////-->
    <!--//////////     MODAL EFFECT DEMO    //////////-->
    <!--//////////////////////////////////////////////////////////////////////-->
    <!--&ndash;&gt;-->
    <div id="md-effect-confirm" class="modal fade" tabindex="-1" data-width="750">
        <div class="modal-header bg-inverse bd-inverse-darken">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
            <h4 class="modal-title">Confirm payment</h4>
        </div>
        <!-- //modal-header-->
        <div class="modal-body">
            <form name="myForm" data-parsley-validate>
            <table class="table table-striped">
                <thead>
                <tr>

                    <th width="20%" class="text-left">Store</th>
                    <th width="15%" class="text-right">Delivery(VND)</th>
                    <th width="15%" class="text-right">CoD(VND)</th>
                    <th width="15%" class="text-right">Total(VND)</th>
                    <th width="35%">Pay</th>
                    <th class="text-right"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{selectedStore.name}}</td>
                    <td class="text-right">{{selectedStore.generalledgers[0].totaldelivery }}</td>
                    <td class="text-right">{{selectedStore.generalledgers[0].totalcod}}</td>
                    <td class="text-right">{{selectedStore.generalledgers[0].totaldelivery - selectedStore.generalledgers[0].totalcod - payFee}}VND</td>

                    <td class="text-right">
                        <!--<div class="col-lg-16">-->
                            <!--<div class="input-icon input-group-sm">-->
                                <!--<i class="fa fa-search ico"></i>-->

                                <input type="search" id="inputValue" ng-change="checkOK($event)" parsley-type="number" required class="form-control input-group-sm text-right" ng-model="payFee">
                            <!--</div>-->
                        <!--</div>-->
                    </td>
                    <td  class="text-right">
                    <span class="tooltip-area">
                    <a class="btn btn-danger" title="Confirm" ng-click="postLedger(selectedStore)"> <i class="fa fa-check-circle"></i> </a>
                    </span>
                    </td>
                </tr>
                </tbody>
            </table>
            </form>
        </div>
        <!-- //modal-body-->
    </div>
    <!-- //modal-->
    <div id="md-effect-block" class="modal fade" tabindex="-1" data-width="400">
        <div class="modal-header bg-inverse bd-inverse-darken">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
            <h4 class="modal-title">Confirm Block</h4>
        </div>
        <!-- //modal-header-->
        <div class="modal-body align-xs-center">
            <form name="myForm">
                <h5><strong>Are you sure to block {{selectedStore.name}}???</strong></h5><br>
                <button type="button" class="btn btn-success btn-transparent" ng-click="blockStore(selectedStore)"><i class="fa fa-check-circle"></i> Yes</button>
                <button type="button" class="btn btn-danger btn-transparent" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i> No</button>
            </form>
        </div>
        <!-- //modal-body-->
    </div>
</div>
